<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div class="title">이메일을 확인해 주세요</div>

            <div class="subtitle">
                <p>
                    <b>{{toAddress}}</b>로 메일이 발송되었습니다.
                </p>
                <p>
                    메일을 확인해 주시고 안내에 따라 진행해 주세요.
                </p>
            </div>

            <div class="message">
                <a class="link" [routerLink]="'/pages/auth/login'">로그인 하기</a>
            </div>

        </div>

    </div>

</div>
