<div id="admin-login" fxLayout="column">

    <div id="admin-login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="admin-login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">ADMINISTARTOR LOGIN</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="loginForm.get('id').hasError('required')">
                        아이디를 입력해주세요
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        비밀번호를 입력해주세요
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid"
                        *ngIf="!submitLoading"
                        (click)="submit(loginForm)">
                    로그인
                </button>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>

        </div>

    </div>

</div>
