<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">

        <div class="profile-box info-box general" fxLayout="column">
            <header class="accent">
                <div class="title">기본 정보</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">ID</div>
                    <div class="info">{{about.userId}}</div>
                </div>
                <div class="info-line">
                    <div class="title">계정 생성일</div>
                    <div class="info">{{about.cDate}}</div>
                </div>
                <div class="info-line">
                    <div class="title">그룹</div>
                    <div class="info">{{about.groupName}}</div>
                </div>
            </div>
        </div>

        <div class="profile-box info-box general" fxLayout="column">
            <header class="accent">
                <div class="title">정보 수정</div>
            </header>

            <div class="content">
                <form name="infoForm" [formGroup]="infoForm" fxLayout="column" fxFlex="1 0 auto" novalidate>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>이메일</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-error *ngIf="infoForm.get('email').hasError('required')">
                            이메일을 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="infoForm.get('email').hasError('email')">
                            유효한 이메일 주소를 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent"
                            aria-label="CHANGE PASSWORD"
                            [disabled]="infoForm.invalid || infoForm.get('email').value === about.email"
                            *ngIf="!infoChanging"
                            (click)="changeInfo(infoForm)">
                            변경하기
                        </button>
                    </div>

                    <div fxLayoutAlign="center center"
                        *ngIf="infoChanging">
                        <mat-spinner [diameter]="35"></mat-spinner>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
        <div class="profile-box info-box general" fxLayout="column">
            <header class="accent">
                <div class="title">비밀번호 변경</div>
            </header>

            <div class="content">
                <form name="changePasswordForm" [formGroup]="changePasswordForm" fxLayout="column" fxFlex="1 0 auto" novalidate>
                    <mat-form-field appearance="outline" fxflex="100">
                        <mat-label>비밀번호</mat-label>
                        <input matInput type="password" formControlName="oldPassword">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
                            비밀번호를 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="!changePasswordForm.get('oldPassword').hasError('required') &&
                                        changePasswordForm.get('oldPassword').hasError('pattern')">
                            문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxflex="100">
                        <mat-label>신규 비밀번호</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                            비밀번호를 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="!changePasswordForm.get('password').hasError('required') &&
                                        changePasswordForm.get('password').hasError('pattern')">
                            문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxflex="100">
                        <mat-label>비밀번호 확인</mat-label>
                        <input matInput type="password" formControlName="passwordConfirm">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="changePasswordForm.get('passwordConfirm').hasError('required')">
                            비밀번호를 다시 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="!changePasswordForm.get('passwordConfirm').hasError('required') &&
                                        changePasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                            비밀번호가 일치하지 않습니다
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent"
                            aria-label="CHANGE PASSWORD"
                            [disabled]="changePasswordForm.invalid"
                            *ngIf="!pwChanging"
                            (click)="changePw(changePasswordForm)">
                            변경하기
                        </button>
                    </div>

                    <div fxLayoutAlign="center center"
                        *ngIf="pwChanging">
                        <mat-spinner [diameter]="35"></mat-spinner>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
