<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body style="margin:0; padding:0;">
    <table style="max-width:800px; width:100%; margin:0 auto; padding:0;">
        <tr>
            <td>
                <table style="margin:0; padding:20px 0 15px; width:100%; border-bottom:1px #257ab3 solid;">
                    <tr>
                        <td class="margin:0; padding:0;">
                            <h1 style="margin:0; padding-left:6%;"><img src="http://uvendor.co.kr/images/company/logo-colored.png" alt="유벤더" /></h1>
                        </td>
                    </tr>
                </table>
                <table style="margin:0;  width:100%; background-color:#f7f7f7;">
                    <tr>
                        <td style="margin:0; padding:6%;">
                            <h2 style="margin:0; margin-bottom:5%; text-align:center; font:normal 22px Malgun Gothic,맑은 고딕,'\00b3cb\00c6c0',Dotum,'Apple SD Gothic Neo',Sans-serif;">
                                <span style="font-weight:bold;">유벤더 </span> {{title}}
                            </h2>
                            <table style="margin:0; width:100%; background:#fff; border:1px #d2d2d2 solid;">
                                <tr>
                                    <td style="padding: 7% 10%;">
                                        <p style="margin:0; font:normal 16px Malgun Gothic,맑은 고딕,'\00b3cb\00c6c0',Dotum,'Apple SD Gothic Neo',Sans-serif; line-height:30px;">
                                            {{content | safe}}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table style="margin:0;  width:100%; background-color:#d3d3d3;">
                    <tr>
                        <td style="margin:0; padding:3.5% 0; text-align:center;">
                            <img src="http://uvendor.co.kr/images/company/logo-colored.png" alt="유벤더" />
                            <p style="margin:0; font:normal 13px Malgun Gothic,맑은 고딕,'\00b3cb\00c6c0',Dotum,'Apple SD Gothic Neo',Sans-serif; color:#959595;">
                                Copyright &copy; 유벤더 All Rights Reserved.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
