<div id="password" class="p-24" fxLayout="row wrap">

    <div class="about-message" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <div class="message-box error mb-12" fxLayout="column" *ngIf="about.needPwChange === 'Y'">
            보안을 위해 비밀번호를 변경해 주세요
        </div>
    </div>

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <form class="mat-card mat-elevation-z4 p-24" name="changePasswordForm" [formGroup]="changePasswordForm" 
                fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="start">

                <div class="h2 mb-24">비밀번호 변경</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>비밀번호</mat-label>
                        <input matInput type="password" formControlName="oldPassword">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
                            비밀번호를 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="!changePasswordForm.get('oldPassword').hasError('required') &&
                                        changePasswordForm.get('oldPassword').hasError('pattern')">
                            문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>신규 비밀번호</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                            비밀번호를 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="!changePasswordForm.get('password').hasError('required') &&
                                        changePasswordForm.get('password').hasError('pattern')">
                            문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>비밀번호 확인</mat-label>
                        <input matInput type="password" formControlName="passwordConfirm">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="changePasswordForm.get('passwordConfirm').hasError('required')">
                            비밀번호를 다시 입력해 주세요
                        </mat-error>
                        <mat-error *ngIf="!changePasswordForm.get('passwordConfirm').hasError('required') &&
                                        changePasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                            비밀번호가 일치하지 않습니다
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button matStepperNext type="button" color="accent"
                        aria-label="CHANGE PASSWORD"
                        [disabled]="changePasswordForm.invalid"
                        *ngIf="!pwChanging"
                        (click)="changePw(changePasswordForm)">
                        변경하기
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="pwChanging">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>
            </form>
        </div>
    </div>
</div>
