<ng-container *ngIf="!item.hidden && (item.group == group || item.group == '')">

    <div class="group-title" [ngClass]="item.classes">
        <span class="hint-text" [translate]="item.translate">{{ item.title }}</span>
    </div>

    <div class="group-items">
        <ng-container *ngFor="let item of item.children">
            <ng-container *ngIf="item.group == group || item.group == ''">
                <fuse-nav-vertical-group *ngIf="item.type=='group'" [item]="item" [group]="group"></fuse-nav-vertical-group>
                <fuse-nav-vertical-collapsable *ngIf="item.type=='collapsable'"
                                            [item]="item" [group]="group"></fuse-nav-vertical-collapsable>
                <fuse-nav-vertical-item *ngIf="item.type=='item'" [item]="item" [group]="group"></fuse-nav-vertical-item>
            </ng-container>
        </ng-container>
    </div>

</ng-container>