<div id="signup-complete" fxLayout="column">

    <div id="signup-complete-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="signup-complete-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">announcement</mat-icon>
            </div>

            <div class="title">회원님의 가입을 환영합니다</div>

            <div class="subtitle">
                <p>
                    USM의 모든 서비스를 사용하기 위해서는 <b>[계정관리] > [판매자 계정관리]</b> 에서 관련 정보를 입력해 주셔야 합니다.
                    <br /><br />
                    기타 사용 문의는 아래로 문의 주세요.
                    <br /><br />
                </p>
                <p class="contact">
                    <b>
                        메일 : contact@uvendor.co.kr<br />
                        전화 : 1577 1042
                    </b>
                </p>
            </div>

            <div class="message">
                <a class="link" [routerLink]="'/pages/auth/login'">로그인 하기</a>
            </div>

        </div>

    </div>

</div>
