<div id="admin-members" class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">계정 관리</span>
            </div>
            <div class="h2 mt-16">관리자 계정 관리</div>
        </div>
    </div>

    <div class="content p-24">

        <div class="text-right pb-12" *ngIf="!listLoading" >
            <button mat-raised-button (click)="getList()" class="upper_btn" [disabled]="reloading">
                <mat-icon *ngIf="!reloading" aria-hidden="false" aria-label="Refresh">refresh</mat-icon>
                <span *ngIf="!reloading">
                     새로 고침
                </span>
                <mat-spinner *ngIf="reloading" [diameter]="25" class="spinner"></mat-spinner>
            </button>

            <button mat-raised-button (click)="add()" class="upper_btn">
                <mat-icon aria-hidden="false" aria-label="New">add</mat-icon> 추가
            </button>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="p-12" *ngIf="listLoading">
            <mat-spinner [diameter]="35"></mat-spinner>
        </div>
        
        <div class="mat-elevation-z8" *ngIf="!listLoading">

            <form class="p-12">
                <mat-form-field>
                    <input matInput placeholder="검색" value="{{searchText}}" (keyup)="onKeyAtSearch($event)">
                    <button mat-icon-button matSuffix (click)="onClickSearch()">
                        <mat-icon matSuffix id="searchBtn">search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            
            <table mat-table [dataSource]="dataSource" *ngIf="length !== 0" >

                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> 이메일 </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> 그룹 </th>
                    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
            </table>

            <mat-paginator showFirstLastButtons
                (page)="onPageEvent($event)"
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                *ngIf="length !== 0" >
            </mat-paginator>
        </div>

        <div class="mt-24" *ngIf="length === 0 && !listLoading" >
            <div class="message-box warning">
                검색 결과가 없습니다
            </div>
        </div>
    </div>

    
</div>