@import "src/@fuse/scss/fuse";

#admin-members {

    table {
        width: 100%;
    }

    .header {
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .mat-row {
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    .upper_btn {
        font-weight: 300;
        margin-left: 8px;
    }

    .spinner {
        display: inline-block;
    }
    
    #searchBtn {
        font-size: 20px;
    }
}
