:host {
    display: flex;
    flex: 0 0 auto;
    z-index: 3;
    
    .mat-toolbar {
        background: inherit;
        box-shadow: 0px -1px 1px -1px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px -1px 3px 0px rgba(0, 0, 0, 0.12);

        height: auto;
        font-size: 11px;
        color: white;
        line-height: 22px;

        .info {
            .menu {
                list-style: none;

                ul{
                    padding-left: 0;
                    padding-right: 0;

                    li {
                        font-weight: bold;
                        list-style: none;
                        display: inline-block;
                        padding-right: 60px;
                        position: relative;
                        

                        &::after {
                            content: "|";
                            position: absolute;
                            right: 30px;
                            color: rgba(255, 255, 255, 0.12) !important;
                        }
                        &.last::after {
                            content: "";
                        }
                    }
                }
            }
            .divider{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        address {
            font-style: normal;
            dfn {
                font-style: normal;
            }
            .divider-row{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        a {
            color : #fff;
        }
    }

    &.above {
        position: relative;
        z-index: 99;
    }
}