<mat-toolbar>
    <div class="info">
        <div class="menu">
            <ul>
                <li><a href="javascript:openTerms()">이용약관</a></li>
                <li>
                    <a href="http://member.auction.co.kr/Membership/Signup/Privacy.aspx" target="_blank">
                        개인정보취급정책
                    </a>
                </li>
                <li class="last">
                    <a href="javascript:openTPLTerms()">
                        이용약관
                    </a>
                </li>
            </ul>
        </div>
        <address>
            <span>서울시 강남구 언주로 174길 22 로이빌딩 4층</span>
            <span class="divider">|</span>
            <span>대표자 : 백찬현</span>
            <span class="divider">|</span>
            <span>사업자등록번호 : 220-81-83676</span>
            <span class="divider">|</span>
            <span>통신판매업신고 : 강남 10630</span>ICP: B2-20090003-4<br>
            <span>판매자 상담센터 : <strong>1577-1042</strong>
            <span class="divider">|</span>
            </span>USM 사용문의 : <a href="mailto:contact@uvendor.co.kr">contact@uvendor.co.kr</a>

            <div class="divider-row"></div>

            <span>상품/판매자/쇼핑 정보, 콘텐츠, UI 등에 대한 무단 복제, 전송, 배포, 스크래핑 등의 행위는 저작권법, 콘텐츠산업 진흥법 등에 의하여 엄격히 금지됩니다.</span>
            <br>
            <dfn>
                copyright(c) 2017 uvendor. All Rights Reserved.
            </dfn>
        </address>
    </div>
</mat-toolbar>
