<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/product/management'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="staticDomain + product.images[0].path">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        상품 등록
                    </div>
                    <div class="subtitle secondary-text">
                        <span>상품 상세 정보</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || needAttach || needAttach2 || needInfo"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>저장</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>저장</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="기본 정보">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>상품 제목</mat-label>
                                    <input matInput placeholder="상품 리스트에서 처음 보일 상품 제목을 입력하세요"
                                           name="title"
                                           formControlName="title"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>상품 설명</mat-label>
                                    <textarea matInput placeholder="상품을 소개할 문구를 입력하세요"
                                              name="info"
                                              formControlName="info"
                                              rows="5"
                                              >
                                    </textarea>
                                </mat-form-field>

                                <mat-label>모델명</mat-label>
                                <br/>
                                <div class="mb-12">
                                    <mat-checkbox #modelName (change)="modelNameChange(modelName)" [checked]="product.modelName">모델명이 있습니다</mat-checkbox>
                                </div>
                                
                                <div *ngIf="modelName.checked" >
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-25-p">
                                        <mat-label>모델명</mat-label>
                                        <input matInput placeholder=""
                                            name="modelName"
                                            formControlName="modelName">
                                    </mat-form-field>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>원산지</mat-label>
                                    <input matInput placeholder="복수일 경우 콤마','로 구분"
                                           name="madein"
                                           formControlName="madein"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>사은품</mat-label>
                                    <input matInput placeholder="사은품이 있을 경우 입력해주세요"
                                           name="gifts"
                                           formControlName="gifts">
                                </mat-form-field>
                            </div>

                        </mat-tab>

                        <mat-tab label="상품 이미지">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="mb-12">
                                    <mat-label>대표 이미지</mat-label>
                                    <br/>
                                    <mat-hint align="start">
                                        상품 리스트에서 처음 보여질 이미지를 업로드 하세요.
                                        <br/>첫번째 이미지가 대표 이미지로 지정됩니다.
                                        <br/>10Mb이하 총 6장까지 업로드 가능합니다.
                                    </mat-hint>
                                </div>
                                <div class="mb-12" *ngIf="!uploadingImage">
                                    <button mat-stroked-button class="mr-4" type="button" [disabled]="product.images.length >= 6" (click)="onClickAttachBtn(attachInput)">파일 선택</button>
                                    <input style="display:none" type="file" #attachInput (change)="fileChange($event)" multiple accept="image/*">
                                </div>
                                <div class="mb-12" fxLayoutAlign="center center"
                                    *ngIf="uploadingImage">
                                    <mat-spinner [diameter]="35"></mat-spinner>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngFor="let image of product.images; let i = index;">
                                        <div *ngIf="product.images.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="staticDomain + image.path">
                                            <button class="image-btns first" mat-stroked-button (click)="onClickPrevBtn(i)"><mat-icon>arrow_back</mat-icon></button>
                                            <button class="image-btns second" mat-stroked-button (click)="onClickNextBtn(i)"><mat-icon>arrow_forward</mat-icon></button>
                                            <button class="image-btns third" mat-stroked-button (click)="onClickDeleteBtn(i)"><mat-icon>close</mat-icon></button>
                                        </div>
                                    </div>
                                </div>

                                <mat-divider class="mb-12"></mat-divider>

                                <div class="mb-12">
                                    <mat-label>상세 소개 이미지</mat-label>
                                    <br/>
                                    <mat-hint align="start">상품 상세 소개에 보여질 이미지를 업로드 하세요.<br/>10Mb이하 총 6장까지 업로드 가능합니다</mat-hint>
                                </div>
                                <div class="mb-12" *ngIf="!uploadingDetailImage">
                                    <button mat-stroked-button class="mr-4" type="button" [disabled]="product.detailImages.length >= 6" (click)="onClickAttachBtn(attachInput2)">파일 선택</button>
                                    <input style="display:none" type="file" #attachInput2 (change)="fileChange($event,'detail')" multiple accept="image/*">
                                </div>
                                <div class="mb-12" fxLayoutAlign="center center"
                                    *ngIf="uploadingDetailImage">
                                    <mat-spinner [diameter]="35"></mat-spinner>
                                </div>

                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngFor="let image of product.detailImages; let i = index;">
                                        <div *ngIf="product.detailImages.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="staticDomain + image.path">
                                            <button class="image-btns first" mat-stroked-button (click)="onClickPrevBtn(i,'detail')"><mat-icon>arrow_back</mat-icon></button>
                                            <button class="image-btns second" mat-stroked-button (click)="onClickNextBtn(i,'detail')"><mat-icon>arrow_forward</mat-icon></button>
                                            <button class="image-btns third" mat-stroked-button (click)="onClickDeleteBtn(i,'detail')"><mat-icon>close</mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="옵션·재고">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-label>옵션선택</mat-label>
                                <br/>
                                <div class="mb-12">
                                    <mat-checkbox #optionCheck (change)="optionChange(optionCheck)" [checked]="product.optionList.length != 0">설정함</mat-checkbox>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-25-p" *ngIf="!optionCheck.checked">
                                    <mat-label>재고 수량</mat-label>
                                    <input matInput placeholder="비설정시 99,999로 설정"
                                           name="stock"
                                           formControlName="stock"
                                           type="number"
                                           OnlyNumber>
                                </mat-form-field>
                                
                                <div *ngIf="optionCheck.checked" >

                                    <div fxLayout="row" fxLayoutAlign="space-between" *ngFor="let option of product.optionList; let i = index;">

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>옵션 이름</mat-label>
                                            <input matInput placeholder="예) 색상"
                                                [(ngModel)]="option.option1"
                                                [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>옵션 종류</mat-label>
                                            <input matInput placeholder="예) 흰색"
                                                [(ngModel)]="option.option2"
                                                [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                            <mat-label>재고수량</mat-label>
                                            <input matInput placeholder="비설정시 99,999로 설정"
                                                [(ngModel)]="option.stock"
                                                [ngModelOptions]="{standalone: true}"
                                                type="number"
                                                OnlyNumber>
                                        </mat-form-field>

                                        <div fxLayout="column" fxLayoutAlign="center" fxFlex="10" class="optionBtn-wrap">
                                            <button mat-stroked-button color="accent" class="optionBtn" (click)="optionAdd(i)"><mat-icon>add</mat-icon></button>
                                            <button mat-stroked-button color="warn" class="optionBtn" (click)="optionDelete(i)" [disabled]="i == 0"><mat-icon>remove</mat-icon></button>
                                        </div>

                                    </div>
                                </div>
                                
                                <br/>

                                <mat-label>최대 구매 허용수량</mat-label>
                                <br/>
                                <div class="mb-12">
                                    <mat-checkbox #maximumOptionCheck (change)="maximumOptionChange(maximumOptionCheck)" [checked]="product.maximumAllow">설정함</mat-checkbox>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-25-p" *ngIf="maximumOptionCheck.checked">
                                    <mat-label>최대 구매 허용수량</mat-label>
                                    <input matInput placeholder="비설정시 99,999로 설정"
                                           name="maximumAllow"
                                           formControlName="maximumAllow"
                                           type="number"
                                           OnlyNumber>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="가격">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-25-p">
                                    <mat-label>판매가격</mat-label>
                                    <input matInput placeholder="판매가격"
                                           name="price"
                                           formControlName="price"
                                           type="number"
                                           required
                                           OnlyNumber>
                                    <span matPrefix>￦&nbsp;</span>
                                </mat-form-field>
                                <br/>
                                <mat-label>판매자 부담 할인</mat-label>
                                <br/>
                                <div class="mb-12">
                                    <mat-checkbox #sellerDiscount (change)="sellerDiscountChange(sellerDiscount)" [checked]="product.sellerDiscount.checked">설정함</mat-checkbox>
                                </div>

                                <div *ngIf="sellerDiscount.checked">
                                    <mat-radio-group
                                        [(ngModel)]="product.sellerDiscount.type"
                                        [ngModelOptions]="{standalone: true}"
                                        (ngModelChange)="changeSellerDiscountType()"
                                    >
                                        <mat-radio-button class="mr-12 mb-12" value="1" #discountType1>정률 할인</mat-radio-button>
                                        <mat-radio-button class="mb-12" value="2" #discountType2>정량 할인</mat-radio-button>
                                    </mat-radio-group>
                                    <br/>
                                    <div [ngClass]="{'hidden':!product.sellerDiscount.type}">
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-25-p">
                                            <mat-label>할인률</mat-label>
                                            <input matInput
                                                type="number"
                                                OnlyNumber
                                                [(ngModel)]="product.sellerDiscount.value"
                                                [ngModelOptions]="{standalone: true}"
                                                (ngModelChange)="checkSellerDiscount()"
                                                (change)="checkSellerDiscount2()"
                                            >
                                            <span matSuffix *ngIf="discountType1.checked">%&nbsp;</span>
                                            <mat-hint align="start" *ngIf="discountType1.checked">70% 까지 입력</mat-hint>
                                            <span matSuffix *ngIf="discountType2.checked">원&nbsp;</span>
                                            <mat-hint align="start" *ngIf="discountType2.checked">10원 단위로 최소 100원 이상,<br>판매가격 70% 미만 입력</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        
                        <mat-tab label="고시 사항">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-label>상품정보고시<sup>*</sup></mat-label>
                                <div class="mb-24">
                                    <mat-form-field class="mb-12">
                                        <mat-select 
                                            class="noticeSelect" 
                                            (selectionChange)="selectNotice($event.value)"
                                            formControlName="noticeId"
                                            required>
                                            <mat-option *ngFor="let item of noticeList" [value]="item.id">
                                            {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div *ngIf="!loadingNotice && noticeInfo">
                                        <div *ngFor="let info of noticeInfo" class="mb-8">
                                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                                <mat-label>{{info.NoticeItemCodeName}}</mat-label>
                                                <input matInput
                                                    (ngModelChange)="checkInfoValid()"
                                                    [(ngModel)]="info.value"
                                                    [ngModelOptions]="{standalone: true}"
                                                    [required]="info.IsEssencial">
                                                <mat-hint align="start" *ngIf="info.GuideText">{{info.GuideText}}</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div *ngIf="loadingNotice" fxLayoutAlign="center center">
                                        <mat-spinner [diameter]="35"></mat-spinner>
                                    </div>
                                    <br/>
                                    <small>
                                        *상품정보고시는 전자상거래법(제13조2항) 및 공정위 상품정보제공고시에 의거하여 판매회원이 스스로의 책임으로 입력하여야 하는 사항입니다.<br/>
                                        *여러 상품(주된 상품에 부수되는 상품은 제외)을 추가선택으로 판매하는 경우에는 각 상품에 해당하는 정보를 모두 입력하여야 하며, 
                                        제공되는 입력란의 공간이 부족한 경우에는 제품 상세소개에 직접 입력하셔도 무방합니다.
                                    </small>
                                </div>

                                <mat-label>인증정보</mat-label>
                                <div class="mb-24">
                                    <mat-checkbox formControlName="needCertifiedProduct">인증대상 상품입니다</mat-checkbox>
                                    <br/>
                                    <small>* 쇠고기 등급, 우수농산물 인증번호, 유기농 인증, 제조사 별 인증/보증/증명 등의 인증마크 표시가 필요한 경우, 상담사가 별도 안내 드립니다.</small>
                                </div>

                                <mat-label>영업허가/신고</mat-label>
                                <div class="mb-24">
                                    <mat-checkbox formControlName="medicalHealthProduct">의료기기/건강기능식품 상품입니다</mat-checkbox>
                                    <br/>
                                    <small>* 건강기능식품업, 식품제조가공업, 의료기기업 관련 상품은 영업허가와 신고증이 필요하며, 상담사가 별도 안내 드립니다.</small>
                                </div>
                                
                                <mat-label>안전인증정보</mat-label>
                                <div class="mb-24">
                                    <mat-checkbox formControlName="safetyCertiInfo">상세소개에 별도 표시하겠습니다</mat-checkbox>
                                    <br/>
                                    <small>
                                        * 어린이제품, 생활용품, 전기용품, 생활화학제품, 살생물제품은 안전인증정보가 표시되어야 하며, 상품 상세 페이지에 인증번호와 모델명, KC마크를 꼭 표기해주셔야 합니다.<br/>
                                        * 안전인증정보 관련 문의는 홈페이지(<a href="http://safetykorea.kr" target="_blank">http://safetykorea.kr</a>)로 확인해 주세요.
                                    </small>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>기타 특이사항</mat-label>
                                    <textarea matInput placeholder="구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우 입력하여 주세요."
                                              name="comment"
                                              formControlName="comment"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
