#product {
    .optionBtn-wrap{
        justify-content: flex-start !important;

        .optionBtn {
            width: 35px;
            line-height:30px;

            &:first-child {
                margin-bottom: 4px;
            }

            .mat-icon{
                height: 18px;
                width: 18px;
            }
        }
    }
    .hidden{
        display: none !important;
    }
    .w-25-p{
        min-width:300px;
    }
    .noticeSelect{
        width: 300px;
    }
    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;
            position: relative;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
            .image-btns{
                position: absolute;
                top: 0px;
                min-width: 30px;
                line-height: 30px;
                border-radius: 15px;
                padding:0;
                background: white;
            }
            .image-btns.first{
                right: 66px;
            }
            .image-btns.second{
                right: 33px;
            }
            .image-btns.third{
                right: 0px;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}
