<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-message" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
        <div class="message-box warning mb-12" fxLayout="column" *ngIf="about.isSellerCertified !== 'Y' && about.isSentDocument !== 'Y'">
            정상적인 서비스 이용을 위해 사업자 인증을 완료해 주세요
        </div>
        <div class="message-box warning mb-12" fxLayout="column" *ngIf="about.isAccountCertified !== 'Y' && about.isSentAccount !== 'Y'">
            정상적인 서비스 이용을 위해 은행 계좌 인증을 완료해 주세요
        </div>
        <div class="message-box warning mb-12" fxLayout="column" *ngIf="about.isSellerCertified !== 'Y' && about.isSentDocument === 'Y'">
            사업자 인증이 완료된 이후 상품 관리 서비스 이용이 가능합니다
        </div>
        <div class="message-box warning mb-12" fxLayout="column" *ngIf="about.isAccountCertified !== 'Y' && about.isSentAccount === 'Y'">
            은행계좌 인증이 완료된 이후 정산 서비스 이용이 가능합니다
        </div>
        <div class="message-box warning mb-12" fxLayout="column" *ngIf="!about.sellerPhone">
            판매 담당자 연락처를 입력해 주세요
        </div>
        <div class="message-box success mb-12" fxLayout="column" *ngIf="about.isSellerCertified === 'Y'">
            정상적인 서비스 이용이 가능합니다
        </div>
    </div>

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="basicForm" [formGroup]="basicForm">

                <div class="h2 mb-24">기본 정보</div>

                <div class="content mb-12">
                    <div class="info-line">
                        <div class="title">이메일</div>
                        <div class="info">{{about.email}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">계정 생성일</div>
                        <div class="info">{{about.cDate}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">그룹</div>
                        <div class="info">{{about.groupName}}</div>
                    </div>
                </div>

                <mat-divider class="mt-12 mb-24"></mat-divider>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>판매 담당자 연락처(숫자만 입력)</mat-label>
                        <input matInput formControlName="sellerPhone" type="text" OnlyNumber required>
                        <mat-icon matSuffix class="secondary-text">headset_mic</mat-icon>
                        <mat-error *ngIf="basicForm.get('sellerPhone').hasError('required')">
                            판매 담당자 연락처를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>주문 알림 이메일</mat-label>
                        <input matInput formControlName="sellerAlarmEmail" type="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        <mat-hint>공지 및 주문 관련 알림을 받을 이메일을 설정합니다.<br/>설정하지 않으면 회원님의 아이디(이메일)로 발송됩니다</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="mt-24">
                    <button mat-raised-button matStepperNext type="button" color="accent"
                        aria-label="CHANGE PASSWORD"
                        [disabled]="basicForm.invalid || basicForm.pristine"
                        *ngIf="!basicFormChanging"
                        (click)="changeBasic(basicForm)">
                        변경하기
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="basicFormChanging">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>
            </form>
        </div>

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24" name="accountForm" [formGroup]="accountForm" 
                fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="start">
                
                <div class="h2 mb-24">
                    은행계좌 정보
                    <mat-chip-list class="status">
                        <mat-chip color="warn" selected *ngIf="about.isAccountCertified === 'N' && about.isSentAccount === 'N'" >인증 필요</mat-chip>
                        <mat-chip color="accent" selected *ngIf="about.isAccountCertified === 'N' && about.isSentAccount === 'Y'" >인증 대기</mat-chip>
                        <mat-chip color="primary" selected *ngIf="about.isAccountCertified === 'Y'" >인증 완료</mat-chip>
                    </mat-chip-list>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>은행명</mat-label>
                        <mat-select [formControl]="selectBank" required>
                            <mat-option *ngFor="let bank of bankList" [value]="bank">
                                {{bank}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="selectBank.hasError('required')">
                            은행명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>예금주명</mat-label>
                        <input matInput formControlName="ownerName" type="text" required>
                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                        <mat-hint>[예금주명=사업자(체)명], [예금주=대표자명] 이 일치하셔야 합니다.</mat-hint>
                        <mat-error *ngIf="accountForm.get('ownerName').hasError('required')">
                            예금주명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>계좌번호(숫자만 입력)</mat-label>
                        <input matInput formControlName="bankAccount" type="text" OnlyNumber required>
                        <mat-icon matSuffix class="secondary-text">local_atm</mat-icon>
                        <mat-error *ngIf="accountForm.get('bankAccount').hasError('required')">
                            계좌번호를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button matStepperNext type="button" color="accent"
                        aria-label="CHANGE ACCOUNT"
                        [disabled]="accountForm.invalid || !selectBank.value || accountForm.pristine"
                        *ngIf="!accountChanging"
                        (click)="changeAccount(accountForm)">
                        인증하기
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="accountChanging">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>
            </form>
        </div>
    </div>
    
    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24" name="infoForm" [formGroup]="infoForm" 
                fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="start">
                
                <div class="h2 mb-24">
                    사업자 정보
                    <mat-chip-list class="status">
                        <mat-chip color="warn" selected *ngIf="about.isSellerCertified === 'N' && about.isSentDocument === 'N'" >인증 필요</mat-chip>
                        <mat-chip color="accent" selected *ngIf="about.isSellerCertified === 'N' && about.isSentDocument === 'Y'" >인증 대기</mat-chip>
                        <mat-chip color="primary" selected *ngIf="about.isSellerCertified === 'Y'" >인증 완료</mat-chip>
                    </mat-chip-list>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>사업자(체)명</mat-label>
                        <input matInput formControlName="companyName" type="text" required>
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error *ngIf="infoForm.get('companyName').hasError('required')">
                            사업자(체)명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>대표자명</mat-label>
                        <input matInput formControlName="representation" type="text" required>
                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                        <mat-error *ngIf="infoForm.get('representation').hasError('required')">
                            대표자명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>대표 연락처(숫자만 입력)</mat-label>
                        <input matInput formControlName="companyPhone" type="text" OnlyNumber required>
                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                        <mat-error *ngIf="infoForm.get('companyPhone').hasError('required')">
                            대표 연락처를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>업종</mat-label>
                        <input matInput formControlName="sector" type="text" required>
                        <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        <mat-error *ngIf="infoForm.get('sector').hasError('required')">
                            업종를 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>업태</mat-label>
                        <input matInput formControlName="business" type="text" required>
                        <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        <mat-error *ngIf="infoForm.get('business').hasError('required')">
                            업태를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>사업자 등록번호</mat-label>
                        <input matInput formControlName="companyNumber" type="text" required>
                        <mat-icon matSuffix class="secondary-text">description</mat-icon>
                        <mat-error *ngIf="infoForm.get('companyNumber').hasError('required')">
                            사업자 등록번호를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>법인 등록번호</mat-label>
                        <input matInput formControlName="corporateNumber" type="text">
                        <mat-icon matSuffix class="secondary-text">description</mat-icon>
                    </mat-form-field>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                    <button mat-stroked-button class="mr-4" type="button" (click)="onClickAttachBtn(attachInput)">파일 선택</button>
                    <span>{{uploadMessage}}</span>
                    <input class="hidden" type="file" #attachInput (change)="fileChange($event)">
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button matStepperNext type="button" color="accent"
                        aria-label="REQUEST AUTH"
                        [disabled]="infoForm.invalid || needAttach || infoForm.pristine"
                        *ngIf="!infoChanging"
                        (click)="changeInfo(infoForm)">
                        인증하기
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="infoChanging">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>
        </div>
    </div>
</div>
