<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Uvendor Sales Management
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            USM에 오신 것을 환영합니다. Uvendor를 통해 상품 판매를 진행하시는 회원님들께서 상품 등록, 주문 및 정산 등을 종합 관리할 수 있는 판매 관리 시스템입니다.
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">USM 로그인</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>이메일</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        계정으로 사용하는 이메일을 입력해 주세요
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        올바른 이메일을 입력해 주세요
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>비밀번호</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        비밀번호를 입력하세요
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me" formControlName="rememberMe">
                        아이디 저장
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        비밀번호 찾기
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                    *ngIf="!submitLoading"
                    [disabled]="loginForm.invalid"
                    (click)="submit(loginForm)">
                    로그인
                </button>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>
            
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">회원이 아니신가요?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">회원가입</a>
            </div>
        </div>
    </div>
</div>
