@import "src/@fuse/scss/fuse";

#seller-members {

    table {
        width: 100%;
    }

    .header {
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
    }

    .mat-form-field {
        font-size: 14px;
        &.searchField{
            min-width: 220px;
            float: right;
        }
        &.sortItemField, &.sortTypeField{
            min-width: 100px;
            float: left;
            margin-right: 12px;
        }
    }
    #sortBtn{
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
    }

    .mat-row {
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    .upper_btn {
        font-weight: 300;
        margin-left: 8px;
    }

    .spinner {
        display: inline-block;
    }

    #searchBtn {
        font-size: 20px;
    }
}

@media(max-width:580px) {
    #seller-members {
        .mat-form-field {
            &.searchField{
                width:100%;
            }
        }
    }
}