@import "src/@fuse/scss/fuse";

detail {

    input[type="number"] {
        -moz-appearance: textfield;
    }
    input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    .hidden {
        display: none;
    }
    .close-btn{
        vertical-align: middle;
        font-size: 20px;
        cursor: pointer;
    }

    #detail {

        .btn_wrapper button {
            margin-right: 8px;
        }

        .radio-group {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
        }
        
        .radio-button {
            margin: 5px;
        }
        
    }
}