<div id="detail" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">판매자 계정 관리</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">상세 보기</span>
            </div>
            <div class="h1 mt-16">상세 보기</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-24">
                    <div fxFlex="50" class="pr-4" >
                        <label>계좌 인증 상태</label>
                        <div>
                            <mat-chip-list>
                                <mat-chip selected *ngIf="form.get('isAccountCertified').value === 'N' && form.get('isSentAccount').value === false" >계좌 인증 필요</mat-chip>
                                <mat-chip color="warn" selected *ngIf="form.get('isAccountCertified').value === 'N' && form.get('isSentAccount').value === true" >계좌 인증 요청 중</mat-chip>
                                <mat-chip color="primary" selected *ngIf="form.get('isAccountCertified').value === 'Y'" >계좌 인증 완료</mat-chip>
                            </mat-chip-list>
                            <small class="status-message" *ngIf="form.get('isAccountCertified').value === 'N' && form.get('isSentAccount').value === false" >
                                사용자가 은행 계좌 인증 요청을 하지 않았습니다
                            </small>
                            <small class="status-message" *ngIf="form.get('isAccountCertified').value === 'N' && form.get('isSentAccount').value === true" >
                                사용자 계좌의 예금주가 사업자(체)명 혹은 대표자명과 일치하는지 검증해야 합니다.
                            </small>
                        </div>
                    </div>
                    <div fxFlex="50" class="pr-4" >
                        <label>사업자 인증 상태</label>
                        <div>
                            <mat-chip-list>
                                <mat-chip selected *ngIf="form.get('isSellerCertified').value === 'N' && form.get('isSentDocument').value === false" >사업자 인증 필요</mat-chip>
                                <mat-chip color="warn" selected *ngIf="form.get('isSellerCertified').value === 'N' && form.get('isSentDocument').value === true" >사업자 인증 요청 중</mat-chip>
                                <mat-chip color="primary" selected *ngIf="form.get('isSellerCertified').value === 'Y'" >사업자 인증 완료</mat-chip>
                            </mat-chip-list>
                            <small class="status-message" *ngIf="form.get('isSellerCertified').value === 'N' && form.get('isSentDocument').value === false" >
                                사용자가 사업자 인증 요청을 하지 않았습니다
                            </small>
                            <small class="status-message" *ngIf="form.get('isSellerCertified').value === 'N' && form.get('isSentDocument').value === true" >
                                첨부된 사업자 등록 증명을 검증하고 입력된 데이터를 확인해야 합니다.
                            </small>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>사업자(체)명</mat-label>
                        <input matInput formControlName="companyName" type="text" required>
                        <mat-icon matSuffix class="secondary-text">business</mat-icon>
                        <mat-error *ngIf="form.get('companyName').hasError('required')">
                            사업자(체)명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>이메일</mat-label>
                        <input matInput type="email" formControlName="email" required>
                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                        <mat-error *ngIf="form.get('email').hasError('required')">
                            이메일을 입력해주세요
                        </mat-error>
                        <mat-error *ngIf="form.get('email').hasError('email')">
                            유효한 이메일 주소를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>대표자명</mat-label>
                        <input matInput formControlName="representation" type="text" required>
                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                        <mat-error *ngIf="form.get('representation').hasError('required')">
                            대표자명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>대표 연락처(숫자만 입력)</mat-label>
                        <input matInput formControlName="companyPhone" type="text" OnlyNumber required>
                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                        <mat-error *ngIf="form.get('companyPhone').hasError('required')">
                            대표 연락처를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>업종</mat-label>
                        <input matInput formControlName="sector" type="text" required>
                        <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        <mat-error *ngIf="form.get('sector').hasError('required')">
                            업종를 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>업태</mat-label>
                        <input matInput formControlName="business" type="text" required>
                        <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        <mat-error *ngIf="form.get('business').hasError('required')">
                            업태를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>사업자 등록번호</mat-label>
                        <input matInput formControlName="companyNumber" type="text" required>
                        <mat-icon matSuffix class="secondary-text">description</mat-icon>
                        <mat-error *ngIf="form.get('companyNumber').hasError('required')">
                            사업자 등록번호를 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>법인 등록번호</mat-label>
                        <input matInput formControlName="corporateNumber" type="text">
                        <mat-icon matSuffix class="secondary-text">description</mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="start left" fxFlex="1 0 auto" class="mb-12">
                    <label>사업자 등록 증명 첨부 파일</label>
                    <div *ngIf="attachments.length != 0" fxLayout="column">
                        <span *ngFor="let file of attachments" #attachItem>
                            <a class="file p-4" download target="_blank" id="attach-{{file.id}}" [type]="file.mimeType" [href]="staticDomain + file.path">
                                {{file.originalName}} 
                                <small class="mr-4">
                                    (size: {{file.size / (1000 * 1000) | number : '1.2-2'}}MB, created : {{file.cDate | date: 'yyyy-MM-dd HH:mm:ss'}})
                                </small>
                            </a>
                            <mat-icon matSuffix class="close-btn" (click)="deleteAttachment(attachItem)">close</mat-icon>
                        </span>
                    </div>
                    <div *ngIf="attachments.length == 0">
                        등록된 파일이 없습니다
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                    <button mat-stroked-button class="mr-4" type="button" (click)="onClickAttachBtn(attachInput)">파일 선택</button>
                    <span [innerHTML]="uploadMessage"></span>
                    <input class="hidden" type="file" #attachInput (change)="fileChange($event)" multiple>
                </div>

                <mat-divider class="mb-24"></mat-divider>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>판매 담당자 연락처 (숫자만 입력)</mat-label>
                        <input matInput type="text" OnlyNumber formControlName="sellerPhone" required>
                        <mat-icon matSuffix class="disabled-text">phone</mat-icon>
                        <mat-error *ngIf="form.get('sellerPhone').hasError('required')">
                            연락처를 입력해주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>비밀번호</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="form.get('password').hasError('required')">
                            비밀번호를 입력해주세요
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('pattern')">
                            문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-divider class="mb-24"></mat-divider>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>은행명</mat-label>
                        <mat-select [formControl]="selectBank" required>
                            <mat-option *ngFor="let bank of bankList" [value]="bank">
                                {{bank}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="selectBank.hasError('required')">
                            은행명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>예금주명</mat-label>
                        <input matInput formControlName="ownerName" type="text" required>
                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                        <mat-hint>[예금주명=사업자(체)명], [예금주=대표자명] 이 일치해야 합니다.</mat-hint>
                        <mat-error *ngIf="form.get('ownerName').hasError('required')">
                            예금주명을 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>계좌번호(숫자만 입력)</mat-label>
                        <input matInput formControlName="bankAccount" type="text" OnlyNumber required>
                        <mat-icon matSuffix class="secondary-text">local_atm</mat-icon>
                        <mat-error *ngIf="form.get('bankAccount').hasError('required')">
                            계좌번호를 입력해 주세요
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="text-right mb-4" *ngIf="mode !== 'new' && accountVerifiedDate">
                    <small>Account verified Date : {{accountVerifiedDate | date: 'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
                <div class="text-right mb-4" *ngIf="mode !== 'new' && form.get('isAccountCertified').value === 'Y'">
                    <small>Account verified By : {{verifiedBy}}</small>
                </div>

                <mat-divider class="mb-24"></mat-divider>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="50" class="pr-4" >
                        <label> 연락처 번호 인증</label>
                        <br />
                        <mat-radio-group 
                            class="radio-group"
                            formControlName="isPhoneCertified"
                        >
                            <mat-radio-button class="radio-button" value="Y">Yes</mat-radio-button>
                            <mat-radio-button class="radio-button" value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div fxFlex="50" class="pr-4" >
                        <label>판매자 사업자 인증</label>
                        <br />
                        <mat-radio-group
                            class="radio-group"
                            formControlName="isSellerCertified"
                        >
                            <mat-radio-button class="radio-button" value="Y">Yes</mat-radio-button>
                            <mat-radio-button class="radio-button" value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div fxFlex="50" class="pr-4" >
                        <label>판매자 계좌 인증</label>
                        <br />
                        <mat-radio-group
                            class="radio-group"
                            formControlName="isAccountCertified"
                        >
                            <mat-radio-button class="radio-button" value="Y">Yes</mat-radio-button>
                            <mat-radio-button class="radio-button" value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="100" class="pr-4 mb-12" >
                        <label>계좌 인증 요청 상태</label>
                        <br/>
                        <mat-slide-toggle formControlName="isSentDocument">{{this.form.get('isSentDocument').value ? '요청중' : '비요청중'}}</mat-slide-toggle>
                        <br/>
                        <small>판매자 인증을 'Yes'로 변경시 '비요청중' 상태로 변경 됩니다<br/>요청 내용이 검증되지 못했을 경우 이 상태만 변경하세요</small>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="100" class="pr-4 mb-12" >
                        <label>계좌 인증 요청 상태</label>
                        <br/>
                        <mat-slide-toggle formControlName="isSentAccount">{{this.form.get('isSentAccount').value ? '요청중' : '비요청중'}}</mat-slide-toggle>
                        <br/>
                        <small>계좌 인증을 'Yes'로 변경시 '비요청중' 상태로 변경 됩니다<br/>요청 내용이 검증되지 못했을 경우 이 상태만 변경하세요</small>
                    </div>
                </div>
                
                <div class="text-right mb-4" *ngIf="mode !== 'new'">
                    <small>Sign-up Date : {{cDate | date: 'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
                <div class="text-right mb-4" *ngIf="mode !== 'new'">
                    <small>Last sign-in date : {{lastLoginDate | date: 'yyyy-MM-dd HH:mm:ss'}}</small>
                </div>
                <div class="text-right mb-4" *ngIf="updatedBy && mode !== 'new'">
                    <small>Last updated by : {{updatedBy}}({{uDate | date: 'yyyy-MM-dd HH:mm:ss'}})</small>
                </div>

                <mat-divider class="mb-24"></mat-divider>

                <div class="text-center mb-24" *ngIf="!submitLoading">
                    <button mat-stroked-button color="warn"
                        class="mr-8 mt-8"
                        *ngIf="mode !== 'new'"
                        (click)="delete(form)">
                        삭제
                    </button>
                    <button mat-stroked-button 
                        (click)="backToList()"
                        class="mr-8 mt-8"
                    >리스트 보기</button>
                    <button mat-flat-button color="accent"
                        class="mr-8 mt-8"
                        [disabled]="form.invalid || form.pristine"
                        (click)="save(form)">
                        저장
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>
        </div>
    </div>
    
</div>
