<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Uvendor Sales Management
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            USM에 오신 것을 환영합니다. Uvendor를 통해 상품 판매를 진행하시는 회원님들께서 상품 등록, 주문 및 정산 등을 종합 관리할 수 있는 판매 관리 시스템입니다.
        </div>

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">비밀번호 재설정</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>이메일</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        이메일을 입력해주세요
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        유효한 이메일 주소를 입력해 주세요
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                    aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid"
                    (click)="submit(forgotPasswordForm)"
                    *ngIf="!submitLoading">
                    메일 발송
                </button>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login'">로그인 하기</a>
            </div>

        </div>
    </div>
</div>
