<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Uvendor Sales Management
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            USM에 오신 것을 환영합니다. Uvendor를 통해 상품 판매를 진행하시는 회원님들께서 상품 등록, 주문 및 정산 등을 종합 관리할 수 있는 판매 관리 시스템입니다.
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">회원가입</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>사업자(체)명</mat-label>
                    <input matInput formControlName="name" type="text">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        사업자(체)명을 입력해 주세요
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>이메일</mat-label>
                    <input matInput formControlName="email" type="email"
                        [readonly]="mailAuth">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        이메일을 입력해 주세요
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        유효한 이메일 주소를 입력해 주세요
                    </mat-error>
                    <div class="authSuccess" *ngIf="mailAuth">
                        인증되었습니다
                    </div>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button mt-0"
                    type="button" aria-label="인증메일 발송"
                    [disabled]="sendMail || registerForm.get('email').hasError('required') || registerForm.get('email').hasError('email')"
                    (click)="sendAuthMail()"
                    *ngIf="!sendMail && !mailAuth && !mailLoading">
                    인증메일 발송
                </button>

                <mat-form-field appearance="outline" *ngIf="sendMail && !mailLoading">
                    <mat-label>인증번호 ({{secondToMinute(count)}})</mat-label>
                    <input matInput type="text" formControlName="codeNumber">
                    <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                    <mat-error *ngIf="registerForm.get('codeNumber').hasError('required')">
                        인증번호를 입력해주세요
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('codeNumber').hasError('required') && !mailAuth">
                        인증을 완료해주세요
                    </mat-error>
                </mat-form-field>
                
                <div class="authBtns-wrapper" *ngIf="sendMail && !mailLoading">
                    <button mat-stroked-button class="authBtns"
                        type="button" aria-label="재발송"
                        [disabled]="registerForm.get('email').hasError('required') || registerForm.get('email').hasError('email')"
                        (click)="sendAuthMail()">
                        재발송
                    </button>
                    <button mat-flat-button color="primary" class="authBtns"
                        type="button" aria-label="인증"
                        [disabled]="sendMail && registerForm.get('codeNumber').hasError('required')" (click)="authCode()">
                        인증
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="mailLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

                <mat-form-field appearance="outline" id="password-field">
                    <mat-label>비밀번호</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                        비밀번호를 입력해 주세요
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('password').hasError('required') &&
                                       registerForm.get('password').hasError('pattern')">
                        문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>비밀번호 확인</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        비밀번호를 다시 입력해 주세요
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        비밀번호가 일치하지 않습니다
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="Accept" required formControlName="agreement" id="agree-btn">
                    </mat-checkbox>
                    <span class="dialog" (click)="openTerms()">개인정보 정책 및 이용약관</span>
                    <label for="agree-btn-input">
                        <span>에 동의합니다.</span>
                    </label>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid || !mailAuth" 
                        (click)="submit(registerForm)"
                        *ngIf="!submitLoading">
                    회원가입
                </button>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">이미 계정이 있으시다면?</span>
                <a class="link" [routerLink]="'/pages/auth/login'">로그인 하기</a>
            </div>
        </div>
    </div>
</div>
