<div id="detail" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">관리자 계정 관리</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">상세 보기</span>
            </div>
            <div class="h1 mt-16">상세 보기</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
            <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form">

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="id" required>
                        <mat-icon matSuffix class="disabled-text">account_circle</mat-icon>
                        <mat-error *ngIf="form.get('id').hasError('required')">
                            아이디를 입력하세요
                        </mat-error>
                        <mat-error *ngIf="form.get('id').hasError('pattern')">
                            영문 혹은 숫자 4~12자 이내
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>이메일</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="form.get('email').hasError('required')">
                            이메일을 입력해주세요
                        </mat-error>
                        <mat-error *ngIf="form.get('email').hasError('email')">
                            유효한 이메일 주소를 입력해 주세요
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>비밀번호</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="form.get('password').hasError('required')">
                            비밀번호를 입력해주세요
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('pattern')">
                            문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>그룹</mat-label>
                        <mat-select formControlName="group" required>
                            <mat-option [value]="'admin'">
                                사이트 관리자
                            </mat-option>
                            <mat-option [value]="'operator'">
                                사이트 운영자
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                        <mat-error>그룹을 선택해주세요</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>메모</mat-label>
                        <textarea matInput formControlName="memo"></textarea>
                        <mat-error>1000자 까지 입력할 수 있습니다</mat-error>
                    </mat-form-field>
                </div>

                <div class="text-right mb-4" *ngIf="createdBy">
                    <small>Created by : {{createdBy}}({{cDate | date: 'yyyy-MM-dd HH:mm:ss'}})</small>
                </div>
                <div class="text-right mb-4" *ngIf="updatedBy">
                    <small>Last updated by : {{updatedBy}}({{uDate | date: 'yyyy-MM-dd HH:mm:ss'}})</small>
                </div>

                <div class="text-center" *ngIf="!submitLoading">
                    <button mat-stroked-button color="warn"
                        *ngIf="mode !== 'new'"
                        class="mr-8 mt-8"
                        (click)="delete(form)">
                        삭제
                    </button>
                    <button mat-stroked-button 
                        class="mr-8 mt-8"
                        (click)="backToList()"
                    >
                        리스트 보기
                    </button>
                    <button mat-flat-button color="accent"
                        [disabled]="form.invalid || form.pristine"
                        class="mr-8 mt-8"
                        (click)="save(form)">
                        저장
                    </button>
                </div>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>
        </div>
    </div>
    
</div>
