<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">이용약관</span>
            </div>
            <div class="h1 mt-16">이용약관</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
<pre>
제 1장 총칙<br>
제 1조 (목적)
이 약관은 주식회사 유벤더(이하 "회사")가 판매관리서비스 사이트(http://usm.uvendor.com) (이하 "USM 서비스", "통합서비스" 또는 "서비스"라 함)을 통하여 제공하는 유벤더 서비스와 관련하여 회사와 유벤더 서비스 이용자(이하 "이용자")간의 권리•의무, 책임사항, 이용자의 유벤더 서비스 이용절차 및 기타 제반 사항을 규정함을 목적으로 합니다.
제 2조 (용어의 정의)
"USM 서비스"라 함은 회사가 USM 서비스를 통하여 이용자에게 상품정보등록, 상품이미지 등록, 부가서비스 설정, 물품대금 정산 등 유벤더가 관리하는 온라인 쇼핑몰 (이하 유벤더 쇼핑몰) 에서의 판매활동을 지원하는 서비스를 말합니다.
① "통합판매자신용도프로그램"이라 함은 회사에서 발생하는 해당 판매자의 매출실적, 구매자피드백 등을 통합 고려하여 통합등급, 혜택(Benefit) 및 제재(Penalty) 등을 부여하는 프로그램을 말합니다.
② "호스팅서비스"라 함은 회사의 서비스를 이용하는 이용자에게 상품판매를 위한 상품이미지 등의 자료를 보관•관리하는 홈페이지를 운영할 수 있는 서버공간을 제공하는 회사의 서비스를 말합니다. 이 경우 회사는 설비의 여유 등을 감안하여 판매자가 업로드 한 파일을 압축한 후, 재생성 할 수 있습니다. 호스팅서비스 내 사용하는 용어의 정의는 다음 각 호와 같습니다.
1. 서버: 이용자가 서비스와 관련하여 홈페이지를 운영할 수 있도록 구성된 관리 소프트웨어 또는 하드웨어를 말합니다.
2. 이용계약: 서비스 이용을 목적으로 회사와 이용자 간에 성립된 계약을 말합니다.
3. 이용자번호: 이용자가 서비스를 이용하기 위해 필요한 번호로서 아이디와 패스워드 또는 이에 상응하는 식별번호를 말합니다.
4. 도메인: 브라우저로 접속하여 내용을 볼 수 있도록 하는 접속 주소 또는 그 연결방법을 말합니다.
③ 본 조에서 정의하지 않은 용어의 정의는 관계법령 및 상관례에 따릅니다.
제 3조 (약관 및 서비스 내용의 명시 및 변경)
① 회사는 이 약관을 이용자가 알 수 있도록 USM 서비스가 제공되는 USM 서비스 화면에 게시합니다. 회사는 USM 서비스 제공 및 이 약관의 이행을 위한 구체적 사항을 USM 서비스 화면에 게시할 수 있습니다.
② 회사는 필요한 경우 관계법령에 위배되지 않는 범위 내에서 이 약관 또는 USM 서비스를 변경할 수 있습니다. 이 경우, 회사는 변경된 약관 또는 USM 서비스 내용을 그 시행일자 및 변경사유를 명시하여 위 시행일자로부터 7일 전부터 시행일자 전일까지 위 제1항의 방법으로 공지합니다.
③ 이용자는 변경된 약관 또는 USM 서비스에 동의하지 않을 경우, 이의를 제기할 수 있습니다. 다만 변경된 약관 또는 USM 서비스 변경내용의 게시 후 시행일 이후에 이용자가 이의를 제기하지 아니하고 USM 서비스의 전부 또는 일부를 계속 이용하는 경우에는 변경된 약관 또는 서비스에 동의한 것으로 간주합니다. 이용자가 변경된 약관 또는 통합서비스의 적용에 동의하지 않는 경우 회사 또는 이용자는 이용계약을 해지할 수 있습니다.
제 2 장 USM 서비스 계약 및 이용자 정보
제 4 조 (USM 서비스 이용계약)
① USM 서비스에 관한 이용계약(이하 "이용계약")은 USM 서비스를 이용하고자 하는 자의 이용신청(이용자 가입신청)에 대하여 회사가 승낙함으로써 성립합니다. 회사는 이용승낙의 의사를 해당 USM 서비스 화면에 게시하거나, 이메일 또는 기타 방법으로 이용신청자에게 통지합니다.
② USM 서비스 이용신청은 이용신청자가 유벤더 회원인 경우에 할 수 있습니다. 본인의 아이디(ID)가 아니거나 타인의 정보를 도용하여 이용자로 가입한 자는 회사가 제공하는 유벤더 서비스를 이용할 수 없습니다.
③ USM 서비스의 이용계약이 성립되면, 성립된 이용계약의 이용자에게는 하나의 USM 서비스 아이디가 생성됩니다.
④ USM 서비스의 아이디(ID) 및 비밀번호에 대한 관리책임은 이용자에게 있고 이용자는 어떠한 경우에도 본인의 아이디(ID)와 비밀번호를 타인에게 양도하거나 대여할 수 없습니다.
⑤ 회사의 귀책사유 없이 USM 서비스의 아이디(ID)와 비밀번호가 유출되거나 타인에게 양도 및 대여되어 발생하는 손해에 대해서는 이용자가 책임을 부담합니다.
⑥ 이용자는 USM 서비스의 아이디(ID)와 비밀번호가 유출되거나 제3자가 사용하고 있음을 알게 된 경우 즉시 회사에 통보하여야 하고, 회사는 신속하게 사실여부를 확인하여 적절한 조치를 취하도록 최선의 노력을 다합니다.
제 5 조 (이용신청 및 승낙)
① USM 서비스를 이용하고자 하는 자는 이 약관에 동의하고 등록된 판매(자)회원의 아이디(ID) 및 비밀번호를 회사가 온라인으로 제공하는 가입신청양식에 따라 기재하여야 합니다.
② 회사는 위 제1항의 필수기재항목 외에도 이용자에게 다양한 부가서비스 제공을 위하여 이용신청자에게 추가적인 정보를 제공할 것을 요청할 수 있습니다. 다만, 이용신청자는 그러한 추가적인 정보의 제공을 거절할 수 있습니다.
③ 회사는 신청인의 연령이 만 14세 미만의 아동인 경우 법정대리인(보호자)의 동의서 제출을 요청할 수 있고, 법정대리인 동의서를 제출하지 않는 경우 이용신청에 대한 승낙을 거절할 수 있습니다.
④ 회사는 다음과 같은 사유가 있는 경우, 이용신청에 대한 승낙을 거부할 수 있습니다.
1. 이 약관에 기하여 회사가 이용계약을 해지한 적이 있는 전(前)이용자가 재이용신청을 하는 경우
2. 이 약관에 기하여 회사로부터 이용자자격 정지조치를 받은 이용자가 이용정지 중에 이용계약을 임의 해지하고 재이용신청을 하는 경우
3. 가입 신청 시 기재하여야 할 회사의 아이디(ID)가 본인의 것이 아니거나 타인의 정보를 도용하여 이용자로 가입한 경우
4. 이용신청자가 기재한 판매(자)회원 아이디(ID)에 대하여 회원 자격이 정지된 경우
5. 기타 이 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우
6. 비 실명으로 통합서비스를 신청하는 경우
7. 회사의 통합서비스 운영 또는 타 이용자의 통합서비스 이용에 지장이 있을 것으로 판단되는 경우
8. 회사의 다른 서비스 이용요금을 체납하고 있는 경우
9. 비 실명으로 통합서비스를 신청하거나 신청내용에 허위, 기재누락, 오기가 있는 경우
⑤ 회사는 다음과 같은 사유가 있는 경우, 이용신청에 대한 승낙을 유보할 수 있습니다. 이 경우, 회사는 이용신청자에게 승낙유보의 사유, 승낙가능시기 또는 승낙에 필요한 추가요청정보, 자료 등 기타 승낙유보와 관련된 사항을 해당 USM 서비스 화면에 게시하거나 이메일(e-mail) 또는 기타 방법으로 통지합니다.
1. 설비에 여유가 없는 경우
2. 기술상 지장이 있는 경우
3. 기타 회사가 합리적인 판단에 의하여 필요하다고 인정하는 경우
제 6 조 (이용계약의 변경 및 승계)
① 이용자는 이용계약 사항 중 다음 각호의 1에 해당하는 사항을 변경하고자 하는 경우 변경사유의 발생 즉시 관련 절차에 따라 회사에게 변경 신청해야 하며 변경에 따른 비용은 이용자가 부담해야 합니다.
1. 이용자의 상호, 성명 또는 주소의 변경
2. 계약종류(접속형태, 접속회선, 접속회선속도, 이용계약기간, 이용목적)의 변경
3. 도메인 또는 계정의 설치 변경
② 상속, 합병 등으로 이용자의 법적 지위에 승계 사유가 발생한 경우, 그 승계인은 사유 발생일로부터 30일 이내에 사업자등록증 사본(개인은 신분증 사본)과 지위승계를 입증할 수 있는 관련서류를 첨부하여 회사가 지정한 절차에 따라 이용계약의 승계를 신청하여야 합니다.
제 7 조 (이용계약의 종료)
① 이용자 또는 회사는 이 약관에서 정한 절차에 따라 이용계약을 해지할 수 있습니다.
② 이용자의 해지
1. 이용자는 언제든지 회사에서 미리 공지한 절차와 방식에 따라 회사에 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다. 다만, 이용자는 해지의사를 통지하기 전에 모든 진행중인 판매절차를 완료, 철회 또는 취소해야만 합니다. 이 경우 판매의 철회 또는 취소로 인한 불이익은 이용자 본인이 부담하여야 합니다.
2. 이용계약은 이용자의 해지의사가 회사에게 도달한 때에 종료됩니다.
3. 본 항에 따라 해지를 한 이용자는 이 약관이 정하는 이용자가입절차와 관련조항에 따라 이용자로 다시 가입할 수 있습니다. 다만 이용자가 중복참여가 제한된 판촉이벤트 중복 참여 등 부정한 목적으로 이용자탈퇴 후 재가입 신청하는 경우 및 제3항에 따라 회사가 이용계약을 해지한 경우 회사는 재가입을 제한할 수 있습니다.
③ 회사의 해지
1. 회사는 다음과 같은 사유가 있는 경우, 이용계약을 해지할 수 있습니다. 이 경우 회사는 이용자에게 이메일, 전화, 팩스 기타의 방법을 통하여 해지사유를 밝혀 해지의사를 통지합니다. 다만, 회사는 해당 이용자에게 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다.
가. 이용자에게 제5조 제4항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인되거나 발생한 경우
나. 이용자가 회원 자격을 상실하거나 정지된 경우
다. 기타 이용자가 이 약관에 위배되는 행위를 하거나 이 약관에서 정한 해지사유가 발생한 경우
2. 이용계약은 회사의 해지의사가 이용자에게 도달한 때에 종료되나, 이용자가 제공한 연락처 정보의 오류로 인하여 회사가 해지의사를 통지할 수 없는 경우에는 회사가 USM 서비스 화면에 해지의사를 공지하는 때에 종료됩니다.
3. 호스팅서비스의 경우, 서비스의 특성 상 다음 각호의 1에 해당할 경우 회사는 이용자에게 사전통지 없이 이용계약을 해지할 수 있습니다.
가. 이용신청서에 기재한 내용 또는 회사에 제공한 개인정보가 허위로 판명된 경우
나. 서비스 운영을 고의로 방해하여 회사에 막대한 손해를 입힌 경우
다. 제14조 각 호의 사유에 해당되고 회사가 서비스의 품질, 목적, 신뢰 등에 비추어 이용계약을 해지할 필요가 있다고 판단하는 경우
라. 제14조에 의하여 서비스의 이용이 제한된 후 그 이용제한 기간 내에 이용제한 사유를 해소하지 않는 경우
마. 이용자가 제 19조 제1항, 제23조, 또는 제24조를 위반한 경우
④ 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 이용자가 책임을 부담하여야 하고, 회사는 일체의 책임을 지지 않습니다. 이용계약이 종료된 경우 회사가 이용계약의 종료 전까지 이용자에게 부여한 각종 혜택은 회사가 별도로 정한 바에 따라 취소 또는 철회할 수 있습니다.
제 8 조 (이용자정보 수집, 이용 등)
① 회사는 USM 서비스 제공을 위해 아이디(ID), 비밀번호 등 인증정보를 수집하고 USM 서비스 이용 기간 동안 유벤더 쇼핑몰에 아이디(ID), 닉네임, 성명, 주민번호, 대표자명, 사업자등록번호, 사업자연락처, 주소, 연락처, 이메일(e-mail), 등록 상품 정보, 판매 상품 정산 정보, 제3자 제공 동의 정보 등을 함께 사용할 수 있습니다.
② 이 약관에 동의할 경우 해당 이용자의 사업자등록번호에 연동된 모든 아이디(ID)에 위 제1항의 정보 공유 및 제공 효력이 적용됩니다.
제 9 조 (이용자정보 보호)
① 회사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 "정통망법") 등 관계법령 및 회사의 개인정보취급방침에 따라 이용자의 개인정보를 보호합니다.
② 개인정보보호에 관한 자세한 사항은 개인정보취급방침에서 정합니다.
제 10 조 (이용자정보취급 위탁)
① 회사는 USM 서비스 제공에 필요한 경우 목적을 정하여 제3자에게 이용자정보의 수집, 보관, 처리, 이용, 관리, 파기 등 취급을 위탁할 수 있습니다.
② 제1항에 따른 위탁의 경우 회사는 그 사실을 회사의 개인정보취급방침을 통해 공개하며 수탁자가 정통망법 중 개인정보보호에 관한 장을 위반하지 않도록 관리•감독합니다.
제 3 장 유벤더 서비스 제공 및 이용
제 11 조 (통합판매자신용도프로그램 운영)
① 회사는 이용자들의 판매신용도 평가 및 활용을 합리화하기 위해 발생한 매출실적, 구매자 피드백 등을 요소로 하여 통합판매자신용도를 산정하여 USM 서비스 및 유벤더 쇼핑몰에 공개할 수 있습니다.
② 회사는 통합신용도에 기초하여 이용자에게 혜택(Benefit) 및 제재(Penalty)를 부여할 수 있습니다. 이 혜택 및 제재의 구체적인 내용과, 통합이전의 혜택, 제재와의 적용 등은 이용자가 USM 서비스 화면에 고지된 기준에 따릅니다.
③ 회사는 관련법령이나 감독당국의 지시, 회사의 정책 변경이 있는 경우 통합 판매자 신용도프로그램의 내용을 변경하거나 폐지할 수 있습니다. 이 경우 회사는 그 내용을 변경 또는 폐지 7일 전까지 USM 서비스 화면에 공지합니다.
제 12조 (이용시간)
USM 서비스 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간 통합서비스 제공을 원칙으로 하나 정기점검이나 시스템의 업그레이드가 필요한 날이나 시간에 통합서비스를 일시 중단할 수 있으며, 예정되어 있는 작업으로 인한 통합서비스 일시 중단은 회사 홈페이지를 통해 사전에 공지합니다.
제 13조 (서비스 중단)
① 회사는 긴급한 시스템 점검, 증설 및 교체 등 부득이한 사유로 인하여 사전 공지 없이 일시적으로 USM 서비스를 중단할 수 있으며, 새로운 통합서비스로의 교체 등 회사가 적절하다고 판단하는 사유에 의하여 현재 제공되는 USM 서비스를 완전히 중단할 수 있습니다. 다만, 이 경우 회사는 사후에 통합서비스 중단사유를 회사 홈페이지를 통하여 게시하거나 이용자에게 이메일 등의 방법으로 통지합니다.
② 회사는 다음 각호의 경우에 USM 서비스 제공을 일시 중단할 수 있습니다. USM 서비스 중단이 발생할 경우. 회사는 USM 서비스 화면에 게시하거나 이메일(e-mail) 또는 기타의 방법으로 이용자에게 통지합니다.
1. 서버 설비의 보수 혹은 공사상 불가피한 경우
2. 전용회선 경로상의 장애가 발생한 경우
3. 회사는 회사가 통제할 수 없는 사유(시스템관리자의 고의, 과실 없는 디스크장애, 시스템다운 등)와 타인(통신업체, 기간통신사업자 등)의 고의, 과실로 인한 시스템중단, 천재지변, 국가비상사태 등의 사유로 인한 기계적인 작동불능 등의 경우에는 이용자에게 공지 없이 통합서비스를 중단할 수 있습니다.
제 14조 (금지행위 및 이용제한)
이용자는 다음 각 호 중 1에 해당하는 경우에 해당하는 행위를 해서는 아니 된다. 이용자가 다음 각 호 중 1에 해당하는 경우 회사는 이용자의 서비스 이용을 제한하거나 이 약관이 정한 바에 따라 이용계약을 해지할 수 있습니다.
1. 제19조 제1항 규정에 의한 이용자의 의무를 중대하게 위반한 경우
2. 타인의 정보 유출, 비밀번호 도용 등의 부정한 행위를 한 경우
3. 타인의 권리를 침해하거나 관련 법령에 위반되는 행위를 하는 경우
4. 음란하고 선정적인 사진이나 글 등을 게재하거나 공공질서나 미풍양속에 저해되는 행위를 한 경우
5. 회사의 승낙 없이 제3자에게 게시판, 접속통계, 카운터, 포워딩, 리디렉터리 서비스 등을 하는 경우
6. 고의 또는 중대한 과실로 인한 프로그램의 오작동 등으로 서버의 중앙처리장치(CPU)와 메모리 점유율이 10%를 초과하는 경우
7. 상품의 판매행위와 직접적인 연관성이 없는 목적으로 통합서비스를 사용한 경우
8. 회사의 통합서비스 제공에 직접 혹은 간접으로 관련되는 장비의 이용에 중대한 지장을 초래한 경우
9. 스팸메일 발송, 바이러스 유포, 기타 네트워크 장애를 유발하는 행위를 한 경우
10. 타인의 정보통신설비를 파괴하거나 운영을 방해할 목적으로 컴퓨터 바이러스를 등록, 유포하거나 크래킹과 같이 시스템에 대한 악의적인 공격으로 범죄에 이용한다고 객관적으로 판단되는 경우
11. 이용자가 회사의 허락 없이 기본 포트(telnet, FTP, web 등) 이외 다른 포트(시스템에서 각각의 서비스를 구분하기 위해 사용되는 번호)를 점유하는 임의의 데몬(시스템에서 대기하면서 사용자의 요청에 대해 미리 지정된 규칙에 따라 응답 및 통신하기 위해 사용되는 프로그램)을 사용한 경우
12. 정보통신망 이용 촉진 및 정보보호 등에 관한법률("정통망법"), 개인정보보호법, 저작권법 등 관계법령을 위반하거나 방송통신위원회, 방송통신심의위원회 등 유관기관으로부터 시정요구를 받은 행위
13. 이 약관을 포함하여 기타 회사가 정한 제반 규정 또는 이용 조건을 위반하거나 회사의 업무를 방해하는 행위를 한 경우
제 15조 (이용제한 및 해제 절차)
① 회사는 전조에 의거하여 이용제한을 할 경우에는 해당 이용자 또는 대리인에게 그 사유 및 기간 등을 고지한 후에 통합서비스 이용을 제한할 수 있으나 해당 이용자의 오작동 또는 과다사용으로 인하여 시스템 운영에 중대한 장애를 초래하거나 사안이 긴급한 경우에는 먼저 해당 이용자에 대한 통합서비스를 정지한 후 이를 사후에 통보할 수 있습니다.
② 회사는 전조에 해당되는 이용자에 대하여 이용계약을 해지하지 않고 통합서비스의 이용을 제한한 경우 이용자가 그 위반행위를 해소할 경우에는 관련 절차에 따라 통합서비스 이용 제한을 해제합니다.
제 16조 (특정 사이트 이용제한 및 해제 절차)
① 회사는 이용자가 회사가 제공하는 통신판매중개서비스를 통한 상품 판매와 관련 없이 특정 외부 인터넷사이트를 위해 USM 서비스를 이용하는 것을 차단할 수 있습니다.
② 이용자가 외부 인터넷사이트로의 연결이 차단된 사유를 해소하는 경우 회사는 관련 절차에 따라 차단 조치를 해제합니다.
제 17조 (서버환경 지원 및 통합서비스 이전)
① 회사는 이용자가 정상적으로 홈페이지를 운영할 수 있도록 최적의 서버환경을 지원하기 위하여 노력합니다. 다만, 회사는 별도로 합의된 경우가 아니라면 특별한 서버환경을 제공해 달라는 이용자의 요청에는 응하지 아니 합니다.
② 이용자가 통합서비스를 통해 운용하는 홈페이지 또는 그 안에 저장된 자료 등을 타사로 이전하고자 하는 경우 네임서버의 캐시(cache) 등으로 인한 며칠간의 중단에 대하여 회사는 책임을 지지 않습니다. 또한 홈페이지 또는 자료 이전과 관련하여 기존에 사용하는 파일의 이전과 권한은 이용자 자신의 책임 아래 직접 수행하여야 합니다.
제 18조 (접속불가능신고 및 처리)
① 이용자는 서버 또는 서버에 설치된 계정을 사용할 수 없게 되었을 때 이용자 측의 설비 및 접속환경에 장애가 없는 것을 먼저 확인한 후, 회사에 접속불가신고를 하여야 합니다.
② 회사는 이용자의 접속불가신고가 있는 경우, 그 처리결과를 회사 홈페이지의 고객지원 게시판을 통하여 게시하거나 이메일 등의 방법으로 해당 이용자에게 통지합니다.
제 4 장 유벤더 서비스 제공•이용자의 권리 및 의무
제 19조 (서비스제공자 및 이용자의 의무)
① 서비스이용자의 의무
1. 이용자는 정통망법을 비롯한 모든 관련 법령과 이 약관을 준수하여야 합니다.
2. 이용자는 회사와 제3자의 법률상 또는 계약상 제반 권리와 이익을 침해하여서는 안 됩니다.
3. 이용자는 회사의 사전 서면동의가 없는 한 통합서비스의 이용권한, 기타 이용계약상의 권리나 지위를 제3자에게 양도하거나 담보로 제공할 수 없습니다.
4. 이용자는 회사의 통합서비스 운영과 타 이용자의 USM 서비스 이용에 방해가 되는 행위를 하지 않아야 합니다.
5. 이용자는 USM 서비스를 이용하여 자신이 관리하는 홈페이지 내의 자료 등에 대해 안전하게 보관할 책임이 있습니다. 회사는 외부 침입 등으로 인한 이용자 보유 자료 또는 정보의 유출, 누락 또는 손실에 대하여 책임을 지지 않습니다.
6. 이용자는 USM 서비스 이용을 위한 고객번호가 제3자에게 누출되지 않도록 관리할 책임이 있으며, 이를 위반하여 발생하는 손해에 대해서는 이용자 본인이 책임을 부담하여야 합니다.
7. 이용자는 USM 서비스 이용과 관련하여 회사에 제공한 개인정보의 내용이 변경된 경우, 변경 내용을 회사에 즉시 알려야 하며, 이를 위반하여 발생하는 제반 사항에 대해서는 이용자 본인이 책임을 부담하여야 합니다.
8. 이용자는 회사로부터 제공받은 설비, 계정 및 소프트웨어를 망실 또는 훼손하거나 장애를 초래한 경우에는 그 보충, 수선 또는 기타 공사에 소요되는 비용을 부담하여야 합니다.
9. 이용자는 USM 서비스를 이용하여 자신이 관리하는 홈페이지를 통해 저장•관리하는 자료 또는 정보와 통합서비스를 이용하여 회사의 통신판매중개서비스에 제공하는(업로드) 자료 또는 정보에 대하여 저작권 등의 모든 권리를 적법, 유효하게 가지고 있으며 관련법령 등에 위반하지 않음을 보증하여야 하고, 이와 관련하여 제3자가 회사를 상대로 소송 등의 분쟁을 제기하는 경우, 자신의 책임과 비용으로 회사를 면책시켜야 합니다.
② 서비스제공자(회사)의 의무
1. 회사는 이용자에게 이 약관에 명시된 USM 서비스를 안정적이고 지속적으로 제공해야 합니다.
2. 회사는 USM 서비스 운영에 지장이 되는 장애가 발생했을 경우 이를 즉시 수리 또는 복구해야 하며, 안정적인 통합서비스 운영을 위해 최선을 다해야 합니다.
3. 회사는 이용자가 정당하게 요구하는 의견이나 불만에 대해서 관계법령과 이 약관에서 정한 기간과 절차에 따라 처리해야 합니다.
4. USM 서비스의 신규 이용신청, 소유권 변경 등에 있어 소유자와 네임서버 정보 등은 이용자가 등록 및 변경하는 것을 원칙으로 합니다. 다만 이용자가 별도로 요청하는 경우 회사는 USM 서비스를 받는 해당 도메인의 정보변경, 등록을 대행할 수 있습니다. 이때 이용자는 신청 내용이 정상적으로 등록•처리되었는지 확인하여야 하며 처리내용에 이상이 발견되거나 처리가 되지 아니한 경우 신청한 날로부터 7일 이내에 회사에 연락하여 이의를 신청하거나 시정을 요구할 수 있습니다.
5. 회사는 이용자가 제공한 개인정보를 관련법령 및 회사의 개인정보취급방침 등 개인정보보호정책에 따라 보호합니다. 다만, 회사는 관계법령에 의한 수사상의 목적, 정보통신윤리위원회의 요청이 있는 경우 등의 정당한 사유가 있는 경우에는 이용자의 동의 없이 개인정보를 관련 법령에서 정하는 범위 내에서 제3자에게 제공할 수 있습니다.
제 20조 (서비스 제공자 및 이용자의 권리)
① 회사는 서비스의 제공 여부, 내용, 절차 및 그 운영 관한 정책을 결정•변경하고 시행할 권리를 가집니다.
② 이용자는 서비스를 안전하고 편리하게 이용할 권리와 법률 또는 약관이 정한 정한 중요한 정보를 통지 받을 권리와 이 약관에서 정한 절차와 방법으로 민원을 제기하고 적절하게 처리 받을 권리를 가집니다.
제 5 장 일반 규정
제 21조 (손해배상)
① 이용자의 손해배상
이용자 또는 이용자의 피고용인, 대리인, 기타 도급 및 위임 등으로 이용자를 대신하여 이용계약을 이행하는 자의 책임 있는 사유로 이 계약의 이행과 관련하여 회사에 손해가 발생한 경우, 그 이용자는 회사에게 발생한 손해를 배상할 책임이 있습니다.
② 회사의 손해배상
회사는 회사의 귀책사유로 인하여 이용자가 USM 서비스 이용과정에서 손해를 입은 경우, 이용자에게 발생한 통상의 손해를 배상할 책임이 있습니다. 이용자의 회사에 대한 손해배상의 청구는 청구사유, 청구금액 및 산출근거를 기재한 서면으로 하여야 합니다.
제 22조 (회사의 면책)
① 회사는 제21조 제2항에도 불구하고 이용자의 손해가 다음 각호의 1에 의해 일시적 또는 종국적으로 USM 서비스를 제공할 수 없는 경우, 이에 관한 책임이 면제됩니다. 이 경우 회사는 USM 서비스 화면에 게시하거나 이메일(e-mail) 또는 기타의 방법으로 이용자에게 통지합니다.
1. 전시, 사변, 천재지변 또는 이에 준하는 국가비상사태 등 불가항력적인 경우
2. 이용자의 고의 또는 과실로 인하여 발생한 경우
3. 전기통신사업자가 제공하는 전기통신서비스 또는 기타 USM 서비스의 전제가 되는 선행서비스의 장애 및 설비부족으로 인한 경우
4. 전기통신서비스의 특성상 불가피한 사유로 발생한 통합서비스 제공 불능으로 인하여 발생한 경우
5. 정보통신설비의 보수점검, 교체 또는 고장, 통신의 두절 등의 경우
② 회사는 이용자가 회사가 제공하는 USM 서비스로부터 기대되는 이익을 얻지 못한 손해, 통합서비스에 수반되는 잠재가치 및 통합서비스 자료에 대한 이용자의 취사 선택 또는 이용으로 발생하는 손해 등에 대해서는 책임을 지지 않습니다.
③ 회사는 이용자의 귀책사유로 인하여 통합서비스 이용에 장애가 발생한 경우 책임을 지지 않습니다.
④ 회사의 책임은 물리적인 USM 서비스 사용에 한하며, 특히 이용자가 게시 또는 전송하거나 전송 받은 자료의 내용 및 가치에 대해서는 책임을 지지 않습니다.
⑤ 회사는 이용자 상호간 또는 이용자와 제3자 상호간에 USM 서비스를 매개로 하여 물품거래 등을 한 경우 해당 거래로 인해 발생하는 영업상 손실 및 그에 관한 제반 문제에 대해 책임을 지지 않습니다.
⑥ 회사는 이용자의 고객번호의 누설이나 관리소홀 또는 불법적인 침입으로 인해 발생한 이용자의 손해는 배상하지 아니 합니다.
⑦ 회사는 고의 또는 중과실이 없는 한 이용자에게 무료로 제공하는 USM 서비스와 관련해서는 어떠한 손해도 책임을 지지 않습니다.
⑧ 회사는 이용자와 제3자 상호 간에 USM 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며, 이로 인한 손해를 배상할 책임도 없습니다.
제 23조 (비밀유지)
① 회사와 이용자는 이 약관 및 통합서비스의 이용과 관련해서 알게 되거나 취득한 상대방의 노하우, 지적 재산, 기밀서류, 전자문서 등의 모든 정보 및 사실(이하 "비밀정보")에 대하여 상대방의 사전 서면 동의 없이 복제하거나, 제3자에게 누설하여서는 안되며, 그 정보는 이용계약의 이행 이외의 목적으로 이용할 수 없습니다. 단, 법규, 행정당국의 명령 등에 의하여 의무적으로 공개하여야 하여야 하는 경우에 한하여 상대방에게 사전 통보를 한 후 "비밀정보"를 제3자에게 제공할 수 있습니다. 이 경우에도 제3자로 하여금 "비밀정보"를 안전하게 관리하고 외부에 누설하지 않도록 적극적으로 조치하여야 하고, "비밀정보"의 공개 또는 열람에 관한 기록을 유지, 관리하여야 합니다.
② 전항의 의무는 이용계약의 종료 후에도 5년간 존속합니다.
제 24조 (지적재산권의 귀속 및 침해금지)
① 회사가 작성한 저작물의 저작권 기타 지적재산권은 회사에 귀속합니다. 이용자는 회사 및 제3자의 지적재산권을 침해해서는 아니 되며, 이를 위반하여 회사 및 제3자에게 손해가 발생한 경우 이를 배상할 책임을 부담합니다.
② 이용자는 회사가 등록을 대행하는 도메인을 통해서 게시되는 저작물에 대한 권리를 가집니다. 다만, 회사는 홍보에 필요한 범위 내에서 이용자와 협의하여 온라인 또는 오프라인 상의 광고에 해당 저작물을 사용할 수 있습니다.
③ USM 서비스와 관련하여 신규 제작된 콘텐츠 또는 신규 개발된 하드웨어 시스템 및 기술, KNOWHOW에 대한 권리는 제작 또는 개발을 수행한 당사자에게 귀속됩니다.
④ 이용자는 회사의 USM 서비스를 이용하여 얻은 정보를 회사의 사전 서면 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 해서는 안됩니다.
제 25조 (상담센터)
회사는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 문제를 해결하고 이용자 상호간의 분쟁을 조정하기 위하여 상담센터를 설치, 운영합니다. 회사는 이용자로부터 제기되는 불만사항 및 의견이 정당하다고 판단되는 경우 이를 신속하게 처리하며, 즉시 처리가 곤란한 경우에는 그 사유와 처리기간을 통보합니다.
제 26조 (보칙)
① 회사는 필요한 경우 유벤더 서비스의 전부 또는 일부를 유벤더 서비스 화면을 통하여 미리 공지한 후, 일시적 또는 영구적으로 수정하거나 중단할 수 있습니다.
② 이용자는 이 약관상 권리 또는 의무의 전부 또는 일부를 회사의 사전 서면 동의 없이 제3자에게 양도하거나 담보로 제공하거나 대행시킬 수 없습니다.
제 26 조 (관할법원)
이 약관과 이용계약 및 이용자 상호간의 분쟁과 관련하여 회사를 당사자로 하는 소송이 제기될 경우에는 그 관할은 대한민국 법령에 따릅니다.
부칙 제 1조 (시행일 및 적용범위)
가. 이 약관은 2019년 9월 1일부터 시행됩니다.
</pre>
<p>
개인정보처리방침
주식회사 유벤더(이하 “회사”)는 회사가 운영하는 판매관리 서비스 사이트(usm.uvendor.com, 이하 “USM”)를 이용하는 이용자님들의 개인정보를 매우 중요하게 생각하며 아래와 같은 개인정보처리방침을 가지고 있습니다.

이 개인정보처리방침은 개인정보와 관련한 법령 또는 지침의 변경이 있는 경우 갱신되고, USM 정책의 변화에 따라 달라질 수 있으니 이용자께서는 USM 사이트를 방문시 수시로 확인하여 주시기 바랍니다. USM의 개인정보처리방침은 다음과 같은 내용을 담고 있습니다.

1. 개인정보의 수집·이용
가. 회사가 개인정보를 수집하는 목적은 이용자의 신분과 서비스 이용의사를 확인하여 최적화되고 맞춤화된 서비스를 제공하기 위함입니다. 회사는 최초 회원가입 시 서비스의 본질적 기능을 수행하기 위해 반드시 필요한 최소한의 정보만을 수집하고 있으며 회사가 제공하는 서비스 이용에 따른 대금결제, 재고 관리 및 환불 등에 필요한 정보를 추가로 수집할 수 있습니다.

나. 회사는 개인정보를 수집·이용목적 이외에 다른 용도로 이를 이용하거나 이용자의 동의 없이 제3자에게 이를 제공하지 않습니다.

다. 회사는 다음과 같은 목적으로 개인정보를 수집하여 이용할 수 있습니다. 다만, 전자상거래 등에서의 소비자보호에 관한 법률, 국세기본법, 전자금융거래법 등 관계법령에 따라 주민등록번호 및 은행계좌번호의 수집·보관이 불가피한 경우나, 휴대폰 소액결제 등 요금정산을 위하여 이동전화번호정보의 수집·보관이 불가피한 경우에는 이용자에게 고지하여 해당 정보를 수집할 수 있습니다.


1) 판매회원
<table>
    <tr>
        <td>목적</td>
        <td>항목</td>
    </tr>
    <tr>
        <td>부가가치세법 제32조에 따른 세금계산서 등의 발행</td>
        <td>주민등록번호</td>
    </tr>
    <tr>
        <td>물품대금 송금 및 대금결제서비스의 제공 등</td>
        <td>신용카드정보, 은행계좌정보</td>
    </tr>
    <tr>
        <td>판매회원 서비스 제공 등</td>
        <td>담당자명, 담당자연락처, 주소</td>
    </tr>
</table>

2) 기타
서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집·저장·조합·분석될 수 있습니다.
- IP Address, 방문일시, 서비스 이용 기록 등 이용내역정보 : 부정 이용 방지, 비인가 사용 방지, 신규 서비스 개발 및 맞춤서비스 제공 등

라. 회사는 이용자의 개인정보를 수집할 경우 법령상 근거가 없는 한 반드시 이용자의 동의를 얻어 수집하며, 이용자의 기본적 인권을 침해할 우려가 있는 인종, 출신지, 본적지, 사상, 정치적 성향, 범죄기록, 건강상태 등의 정보는 이용자의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.

마. 회사는 회원 가입을 만 14세 이상인 경우에 가능하도록 하며 개인정보의 수집·이용에 법정대리인의 동의가 필요한 만 14세 미만 아동의 개인정보는 원칙적으로 수집하지 않습니다. 단, 법정대리인의 동의를 얻은 경우에는 만 14세 미만 이용자의 개인정보를 수집·이용할 수 있습니다.

바. 회사는 다음과 같은 방법으로 개인정보를 수집할 수 있습니다.
1) 홈페이지, 서면, 팩스, 전화, 고객센터 문의하기, 이벤트 응모
2) 생성정보 수집 툴을 통한 자동 수집

사. 회사는 개인정보를 수집함에 있어, 서비스 제공에 필요한 최소한의 개인정보를 ‘필수동의 항목’으로, 그 외 개인정보는 ‘선택동의 항목’으로 구분하여 이에 대해 개별적으로 동의할 수 있는 절차를 마련합니다. 회사는 이용자가 필요한 최소한의 개인정보 이외의 개인정보를 제공하지 아니한다는 이유로 그 서비스의 제공을 거부하지 않습니다.

2. 개인정보 제3자 제공
가. 회사는 이용자들의 개인정보를 「개인정보의 수집·이용」에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 제3자에게 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.
1)	이용자들이 사전에 공개 또는 제3자 제공에 동의한 경우
2)	법령의 규정에 의거하거나, 수사, 조사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관 및 감독당국의 요구가 있는 경우
3)	요금 정산을 위하여 필요한 경우

나. 그 밖에 개인정보 제3자 제공이 필요한 경우에는 이용자의 동의를 얻는 등 적법한 절차를 통하여 제3자에게 개인정보를 제공할 수 있습니다. 회사는 이용자들의 거래 이행을 위하여 필요한 경우 이용자의 동의를 얻는 등 적법한 절차를 통하여 아래와 같이 개인정보를 제공할 수 있습니다.

<table>
    <tr>
        <td>공유받는 자</td>
        <td>공유하는 항목</td>
        <td>공유받는 자의 이용목적</td>
        <td>보유 및 이용기간</td>
    </tr>
    <tr>
        <td>관할 세무서</td>
        <td>주문자 인적사항(주소, 성명, 생년월일), 주문일자, 상품명, 수량, 주문금액 등</td>
        <td>국세청 고시에 따른 주류 통신판매 주문에 대한 분기별 명세 세무서 제공</td>
        <td>최대 4개월</td>
    </tr>
</table>

다. 이용자는 개인정보의 제3자 제공에 대하여 동의를 하지 않을 수 있고, 언제든지 제3자 제공 동의를 철회할 수 있습니다. 동의를 거부하시는 경우에도 회원가입서비스는 이용하실 수 있으나, 제 3자 제공에 기반한 관련 서비스의 이용/제공이 제한될 수 있습니다. 기타 개인정보 제3자 제공에 대한 변동사항은 공지 및 별도 통지를 할 예정입니다.

3. 개인정보의 처리위탁
가. 회사는 원활하고 향상된 서비스를 위하여 개인정보 처리를 타인에게 위탁할 수 있습니다.이 경우 회사는 사전에 다음 각 호의 사항 모두를 이용자에게 미리 알리고 동의를 받습니다. 다음 각 호의 어느 하나의 사항이 변경되는 경우에도 같습니다.
1) 개인정보 처리위탁을 받는 자
2) 개인정보 처리위탁을 하는 업무의 내용

나. 회사는 정보통신서비스의 제공에 관한 계약을 이행하고 이용자 편의 증진 등을 위하여 필요한 경우 개인정보처리방침에 따라 가항 각 호의 사항을 공개함으로써 고지절차와 동의절차를 거치지 아니하고 개인정보 처리를 타인에게 위탁할 수 있습니다

다. 회사는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 관계법령에 따라 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 조치를 하고 있습니다. 회사는 위탁 계약 시 수탁자의 개인정보 보호조치 능력을 고려하고, 개인정보의 안전한 관리 및 파기 등 수탁자의 의무 이행 여부를 주기적으로 확인합니다. 또한 위탁처리하는 정보는 원활한 서비스를 제공하기 위하여 필요한 최소한의 정보에 국한됩니다.

1)개인정보 국내처리 위탁현황
<table>
    <tr>
        <td>수탁업체</td>
        <td>위탁업무 내용</td>
    </tr>
    <tr>
        <td>CJ대한통운㈜</td>
        <td>통합 택배서비스</td>
    </tr>
</table>
2)개인정보 국외처리 위탁현황
없음

4. 이용자 개인정보의 보유 ： 이용기간 및 파기
회사는 이용자의 개인정보를 원칙적으로 고지 및 약정한 기간 동안 보유 및 이용하며 개인정보의 수집 및 이용목적이 달성되거나 이용자의 파기 요청이 있는 경우 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다

가. 관계법령 및 회사 방침에 의한 정보보유 사유
상법 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 법령에서 규정한 바에 따라 이용자의 개인정보를 보관하며 마케팅 등 다른 목적으로 이용하지 않습니다.

1)관계법령에 따른 정보보유 사유
<table>
    <tr>
        <td>관계 법률</td>
        <td>목적</td>
        <td>수집항목</td>
        <td>보유기간</td>
    </tr>
    <tr>
        <td>통신비밀보호법</td>
        <td>법원의 영장을 받아 수사기관이 요청시 제공</td>
        <td>로그기록, IP 등</td>
        <td>3개월</td>
    </tr>
    <tr>
        <td colspan="3">전자상거래등에서의 소비자보호에 관한 법률</td>
        <td>소비자의 불만 또는 분쟁처리에 관한 기록</td>
        <td>소비자 식별정보,분쟁처리 기록 등</td>
        <td>3년</td>
    </tr>
    <tr>
        <td>대금결제 및 재화 등의 공급에 관한 기록</td>
        <td colspan="2">소비자 식별정보,계약/청약철회 기록 등</td>
        <td colspan="2">5년</td>
    </tr>
    <tr>
        <td>계약 또는 청약철회 등에 관한 기록</td>
    </tr>
    <tr>
        <td colspan="2">국세기본법</td>
        <td>국세 부과 제척기간 계산</td>
        <td>국세 증빙자료 등</td>
        <td>10년</td>
    </tr>
    <tr>
        <td>국세징수권 등 소멸시효 계산	</td>
        <td>과세표준과 세액의 신고자료 등</td>
        <td>5년</td>
    </tr>
    <tr>
        <td>부가가치세법</td>
        <td>장부, 세금계산서, 수입세금계산서, 영수증 등</td>
        <td>부가가치세의 과세표준과 세액의 신고자료 등</td>
        <td>5년</td>
    </tr>
    <tr>
        <td>전자금융거래법</td>
        <td>전자금융거래기록 확인</td>
        <td>전자금융거래에 관한 기록, 상대방에 관한 정보 등</td>
        <td>5년</td>
    </tr>
</table>

2)회사방침에 의한 정보보유 사유
- 부정거래기록
보존 이유 : 부정거래의 배제
보존 기간 : 1년
보존 항목 : 이름, ID, CI/DI, 휴대폰번호, 이메일주소, 생년월일

* 부정거래 : 법령, 회사와 이용자 간의 서비스 이용 약관 또는 공서양속을 위반하거나 기타 회사, 회원 또는 타인의 권리나 이익을 침해하는 방법이나 내용의 거래를 말함

나. 수집된 개인정보의 보유·이용기간은 서비스이용계약체결(회원가입)시부터 서비스이용계약해지(탈퇴신청, 직권탈퇴 포함)입니다. 또한 동의 해지 시 회사는 이용자의 개인정보를 상기 명시한 정보보유 사유에 따라 일정 기간 저장하는 자료를 제외하고는 지체 없이 파기하며 개인정보처리가 제3자에게 위탁된 경우에는 수탁자에게도 파기하도록 지시합니다.

다. 2015년 8월 18일부터, 회사는 1년 동안 회사의 서비스를 이용하지 않은 이용자의 개인정보는 ‘정보통신망 이용촉진 및 정보보호등에 관한 법률 제29조’ 에 근거하여 이용자에게 사전통지하고 개인정보를 파기하거나 별도로 분리하여 저장 관리합니다. 이용자의 요청이 있을 경우에는 위 기간을 달리 정할 수 있습니다. 단, 통신비밀보호법, 전자상거래 등에서의 소비자보호에 관한 법률 등의 관계법령의 규정에 의하여 보존할 필요가 있는 경우 관계법령에서 규정한 일정한 기간 동안 이용자 개인정보를 보관합니다

라. 회사는 다항 기간 만료 30일 전까지 개인정보가 파기되거나 분리되어 저장·관리되는 사실과 기간 만료일 및 해당 개인정보의 항목을 공지사항, 전자우편 등의 방법으로 이용자에게 알립니다. 이를 위해 이용자는 회사에 정확한 연락처 정보를 제공/수정하여야 합니다.

마. 파기방법
이용자의 개인정보는 수집 및 이용목적이 달성된 후에는 지체 없이 파기됩니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각 등을 통하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법 또는 물리적 방법을 사용하여 파기합니다

5. 스마트폰 앱 관리
스마트폰 앱을 통해 서비스 이용 시, 이용자에게 개인정보 수집·이용 동의를 받은 범위 내에서 단말기정보 등에 접근한다는 것을 고지하고 승인을 획득한 후 정보가 수집되거나 전송됩니다. 앱 상에서 이용자가 단말기 접근 권한을 허용하였다고 하여 허용권한과 관련된 모든 정보가 즉시 수집되거나 전송되는 것은 아닙니다.서비스 제공을 위하여 스마트폰 앱의 접근 권한을 필수 또는 선택적으로 이용자에게 요청하고 있으며, 단말기 내 "설정" 메뉴를 통하여 이용자가 직접 권한을 변경할 수 있습니다. 앱 권한에 대한 자세한 사항은 애플리케이션 스토어를 통해 확인하실 수 있습니다.

스마트폰 상에서 앱을 삭제하더라도 이용자의 회원계정은 유지되므로, 회원탈퇴를 원하실 경우 USM 웹페이지 상에서 “회원탈퇴” 기능을 이용하시거나 고객센터로 연락하여 주시기 바랍니다.

6. 쿠키(Cookie)의 운용 및 거부
가. 쿠키의 사용 목적
1) 회사는 회사가 운영하는 인터넷 사이트에서 개인 맞춤 서비스를 제공하기 위해 이용 정보를 저장하는 ‘쿠키(cookie)’를 사용합니다. 쿠키는 웹사이트 서버가 이용자의 브라우저에게 전송하는 소량의 정보로서 이용자 컴퓨터의 하드디스크에 저장됩니다.
2) 회사는 쿠키의 사용을 통해서만 가능한 특정된 맞춤형 서비스를 제공할 수 있습니다.
3)회사는 회원을 식별하고 회원의 로그인 상태를 유지하기 위해 쿠키를 사용할 수 있습니다.

나. 쿠키의 설치/운용 및 거부
1) 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 조정함으로써 모든 쿠키를 허용/거부하거나, 쿠키가 저장될 때마다 확인을 거치도록 할 수 있습니다.
- 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)은 다음과 같습니다.
[도구] 메뉴에서 [인터넷 옵션]을 선택합니다.
[개인정보 탭]을 클릭합니다.
[개인정보처리 수준]을 설정하시면 됩니다.
2) 쿠키의 저장을 거부할 경우에는 개인 맞춤서비스 등 회사가 제공하는 일부 서비스는 이용이 어려울 수 있습니다.


7. 이용자의 권리
가. 이용자는 언제든지 USM 사이트의 “정보수정”을 통하여 회원님의 개인정보를 열람, 정정 처리하실 수 있으며, 전자우편 또는 서면으로 요청하신 경우 열람, 정정, 삭제처리 해드리겠습니다. 이용자의 개인정보가 제3자에게 제공되거나 처리위탁된 경우 이용자는 회사 또는 ‘제3자’/’수탁자’에게 파기를 요청할 수 있습니다. 단, 회원 아이디(ID), 성명, 주민등록번호, 외국인등록번호는 정정이 불가능하며, 개명으로 인한 성명 변경 및 행정상의 문제로 인한 주민(사업자)등록번호 변경은 예외적으로 허용 될 수 있습니다. 기타 법률에 따라 정정 또는 삭제가 금지되거나 제한되어 있는 경우에는 해당 처리가 제한될 수 있습니다. 또한 개인정보 오류에 대한 정정 요청한 경우에는 다른 법률에 따라 개인정보의 제공을 요청받는 경우가 아닌 한 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다, 만약 잘못된 개인정보를 이미 제공한 경우에는 정정 처리 결과를 제 3자에게 통지하여 정정이 이루어지도록 하겠습니다.

나. 이용자는 언제든지 USM 사이트의 개인정보에 대하여 처리의 정지를 요구 할 수 있습니다. 다만 아래의 경우에 해당하는 경우 처리정지 요구를 거절할 수 있습니다.
1) 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우
2) 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우
3) 개인정보를 처리하지 아니하면 정보주체와 약정한 서비스를 제공하지 못하는 등 계약의 이행이 곤란한 경우로서 정보주체가 그 계약의 해지 의사를 명확하게 밝히지 아니한 경우

다. 회원가입 등을 통해 개인정보의 수집·이용·제공에 대해 회원님께서 동의하신 내용을 언제든지 철회할 수 있습니다. 동의철회는 회사 사이트 내 “회원 탈퇴 신청”을 클릭하거나 서면, 이메일 등으로 연락하시면 지체 없이 개인정보의 삭제 등 필요한 조치를 하겠습니다. 다만 법률 또는 약관의 규정에 따라 회사가 회원님의 개인정보를 보존하여야 하는 경우에는 해당 처리가 제한될 수 있습니다. 이 경우 회원님은 본인 식별을 위하여 반드시 회원아이디(ID)와 본인확인 식별정보를 밝히셔야 하며, 철회로 인해 서비스에 다소 제약이 있거나 일부 서비스를 이용하지 못하실 수 있습니다

8. 이용자의 의무
이용자는 자신의 개인정보를 보호할 의무가 있으며, 회사의 귀책사유가 없이 ID, 비밀번호, 접근매체 등의 양도·대여·분실이나 로그인 상태에서 이석 등 이용자 본인의 부주의나 관계법령에 의한 보안조치로 차단할 수 없는 방법이나 기술을 사용한 해킹 등 회사가 상당한 주의에도 불구하고 통제할 수 없는 인터넷 상의 문제 등으로 개인정보가 유출되어 발생한 문제에 대해 회사는 책임을 지지 않습니다.

가. 이용자는 자신의 개인정보를 최신의 상태로 유지해야 하며, 이용자의 부정확한 정보 입력으로 발생하는 문제의 책임은 이용자 자신에게 있습니다.

나. 타인의 개인정보를 도용한 회원가입 또는 ID 등을 도용하여 결제처리 시 이용자자격 상실과 함께 관계법령에 의거하여 처벌될 수 있습니다.

다. 이용자는 ID, 비밀번호 등에 대해 보안을 유지할 책임이 있으며 제3자에게 이를 양도하거나 대여할 수 없습니다. 이용자는 회사의 개인정보보호정책에 따라 보안을 위해 비밀번호의 주기적 변경에 협조할 의무가 있습니다.

라. 이용자는 회사의 서비스를 이용한 후에는 반드시 로그인 계정을 종료하고 웹 브라우저 프로그램을 종료해야 합니다.

마. 이용자는 "정보 통신망 이용촉진 및 정보보호 등에 관한 법률", “개인정보보호법”, "주민등록법" 등 기타 개인정보에 관한 법률을 준수하여야 합니다.

9. 링크 사이트에 대한 책임
회사는 이용자에게 다른 웹사이트에 대한 링크를 제공할 수 있습니다. 다만, 링크되어 있는 웹사이트들이 개인정보를 수집하는 행위에 대해서는 본 "개인정보처리방침"이 적용되지 않습니다.

10. 개인정보의 기술적／관리적 보호 대책
회사는 이용자들의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 보호대책을 강구하고 있습니다.

가. 개인정보의 암호화
이용자의 비밀번호는 일방향 암호화하여 저장 및 관리되고 있으며, 개인정보의 확인 및 변경은 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 비밀번호는 이용자의 생일, 전화번호 등 타인이 추측하기 쉬운 숫자 등을 이용하지 않도록 비밀번호 생성규칙을 수립하여 적용하고 있습니다. 주민등록번호, 외국인 등록번호, 은행계좌번호 및 신용카드번호 등의 개인정보는 안전한 암호 알고리즘으로 암호화되어 저장 및 관리되고 있습니다.

<!--나. 해킹 등에 대비한 대책
회사는 해킹 등 회사 정보통신망 침입에 의해 이용자의 개인정보가 유출되는 것을 방지하기 위해 침입탐지 및 침입차단 시스템을 24시간 가동하고 있습니다. 만일의 사태에 대비하여 모든 침입탐지 시스템과 침입차단 시스템은 이중화로 구성하여 운영하고 있으며, 민감한 개인정보는 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.
-->
나. 개인정보 취급자의 최소화 및 교육
회사는 회사의 개인정보 취급자를 최소한으로 제한하며, 개인정보 취급자에 대한 교육 등 관리적 조치를 통해 개인정보보호의 중요성을 인식시키고 있습니다.

다. 개인정보보호 전담부서의 운영
회사는 개인정보의 효율적 보호를 위해 개인정보보호전담부서를 운영하고 있으며, 개인정보처리방침의 이행사항 및 개인정보 취급자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정할 수 있도록 노력하고 있습니다.

11. 개인정보 보호책임자
회사는 이용자가 회사의 서비스를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 이용자는 회사의 서비스 이용과 관련한 모든 개인정보보호 민원을 전담부서로 신고하실 수 있으며, 회사는 이용자의 신고사항에 대해 신속하고 성실하게 답변해드리고 있습니다.


개인정보 보호책임자 성명 : 백찬현
직위 : 대표
전자우편 : ceo@uvendor.co.kr
전화번호 : 02-589-8986

기타 개인정보침해에 대한 신고 또는 상담이 필요하신 경우에는 아래 기관으로 문의하시기 바랍니다.


개인정보분쟁조정위원회 전화 : (국번없이)1833-6972
URL : <a href="http://www.kopico.go.kr" target="_blank">http://www.kopico.go.kr</a>
개인정보침해신고센터전화 :(국번없이)118
URL : <a href="http://privacy.kisa.or.kr" target="_blank">http://privacy.kisa.or.kr</a>
대검찰청 첨단범죄수사센터전화 : 02-3480-2000
URL : <a href="http://www.spo.go.kr" target="_blank">http://www.spo.go.kr</a>
경찰청 사이버안전국전화 : (국번없이)182
URL : <a href="http://cyberbureau.police.go.kr" target="_blank">http://cyberbureau.police.go.kr</a>

12. 고지의 의무
본 개인정보처리방침은 관계법령 및 지침의 변경 또는 회사의 필요 등에 의하여 내용의 추가, 삭제 및 수정이 생길 수 있습니다. 이 경우 최소 7일 전에 홈페이지 또는 이메일을 통해 사전 공지하고 사전 공지가 곤란한 경우 지체 없이 공지하며, 별도 공지가 없는 한 7일이 경과된 후에 시행됩니다. 다만, 중대한 내용이 변경되는 경우에는 최소 30일 전에 공지하고, 별도 공지가 없는 한 30일이 경과된 후에 시행됩니다. 또한 당사는 관계법령에 따라 필요한 경우 고객의 별도 동의를 받을 수 있습니다.
공고일자 : 2019년 9월 01일
시행일자 : 2019년 9월 08일
</p>
    </div>
</div>