<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Uvendor Sales Management
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            USM에 오신 것을 환영합니다. Uvendor를 통해 상품 판매를 진행하시는 회원님들께서 상품 등록, 주문 및 정산 등을 종합 관리할 수 있는 판매 관리 시스템입니다.
        </div>
    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">비밀번호 재설정</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>이메일</mat-label>
                    <input matInput formControlName="email" [readonly]="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        이메일을 입력해 주세요
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                        유효한 이메일 주소를 입력해 주세요
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>비밀번호</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        비밀번호를 입력해 주세요
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('password').hasError('required') &&
                                       resetPasswordForm.get('password').hasError('pattern')">
                        문자, 숫자, 특수문자(!@#$%^&+=) 포함 8~15자 이내
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>비밀번호 확인</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        비밀번호를 다시 입력해 주세요
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        비밀번호가 일치하지 않습니다
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                    aria-label="비밀번호 재설정" [disabled]="resetPasswordForm.invalid"
                    (click)="submit(resetPasswordForm)"
                    *ngIf="!submitLoading"
                >
                    재설정 하기
                </button>

                <div fxLayoutAlign="center center"
                    *ngIf="submitLoading">
                    <mat-spinner [diameter]="35"></mat-spinner>
                </div>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login'">로그인 하기</a>
            </div>

        </div>
    </div>
</div>
