<div id="seller-profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">계정 관리</span>
            </div>
            <div class="h2 mt-16">계정 정보</div>
        </div>
    </div>

    <div class="content">
        <mat-tab-group dynamicHeight="true">

            <mat-tab label="기본 정보">
                <profile-about></profile-about>
            </mat-tab>

            <mat-tab label="비밀번호 변경">
                <profile-password></profile-password>
            </mat-tab>

        </mat-tab-group>
    </div>
    <!-- / CONTENT -->

</div>
